body {
	font-family: sans-serif;
	font-size: 12px;
	color: #333;
    margin: 0px;
}

div.bounds {
    display: block;
    margin: 0px auto;
    width: 980px;
}

/* headers */
header {
    margin: 0 0 20px 0;
}

.header1 {
    background-color: #dddddd;
}

.header1 h1 {
    font-weight: bold;
    font-size: 600%;
    padding: 0px 0px 10px 10px;
    margin: 0;
}

.header2 {
    background-color: #f7f5f3;
}

.header2 h2 {
    font-weight: bold;
    font-size: 200%;
    padding: 10px;
    margin: 0;
}

/* global */
a:link, a:visited {
    color: #808080;
}

a:hover {
    color: #000000;
}

/* blocks */
nav, article {
    display: block;
    padding: 10px;
    margin: 0;
}

/* navigation */
nav a:link, nav a:visited {
    color: #000000;
}

nav ul {
    display: block;
    padding: 10px;
    margin: 0px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    background-color: #f7f5f3;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
}

nav ul li a.active {
    background-color: #dddddd;
}

nav ul li a:hover {
    background-color: #dddddd;
}

/* packages table */
table {
	border: 0px;
	border-collapse: collapse;
	margin: 0px auto;
}

tr:nth-child(even) {
	background: #f7f5f3;
}

tr:nth-child(odd) {
	background: #ffffff;
}

th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 0.5em 1em 0.5em 1em;
}

td {
	padding: 0.5em;
	border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.version {
	padding: 0.2em;
}

.lonely {
	background-color: #00e0e0;
}

.good {
	background-color: #80ff80;
}

.multi {
	background-color: #ffff40;
}

.bad {
	background-color: #ff8080;
}

.ignore {
	background-color: #c0c0c0;
}

/* misc */
div.gentime {
    margin: 1em;
    text-align: center;
}
