body {
	font-family: sans-serif;
	font-size: 12px;
	color: #333;
}

table {
	border: 0px;
	border-collapse: collapse;
	margin: 0px auto;
}

tr:nth-child(even) {
	background: #f7f5f3;
}

tr:nth-child(odd) {
	background: #ffffff;
}

th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 2em 1em 0.5em 1em;
}

td {
	padding: 0.5em;
	border-bottom: 1px solid #ddd;
}

.version {
	padding: 0.2em;
}

.lonely {
	background-color: #00e0e0;
}

.good {
	background-color: #80ff80;
}

.multi {
	background-color: #ffff40;
}

.bad {
	background-color: #ff8080;
}

.ignore {
	background-color: #c0c0c0;
}

div.gentime {
    margin: 1em;
    text-align: center;
}

ul.pages {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pages li {
    display: inline-block;
    width: 3em;
    background-color: #ddd;
    text-align: center;
    padding: 5px 0px
}

ul.pages li a {
    display: block;
    background-color: white;
    padding: 5px 0px;
    margin: -5px 0px;
    color: black;
    text-decoration: none;
}

ul.pages li a:hover {
    background-color: #ddd;
}
