body {
	font-family: sans-serif;
	font-size: 14px;
	color: #333;
    margin: 0px;
}

div.container {
    display: block;
    margin: 0px 10px;
}

/* headers */
.header-stripe-1 {
    background-color: #dddddd;
    overflow: auto;
    padding: 10px 0px 10px 0px;
}

.header-stripe-1 h1 {
    font-weight: bold;
    font-size: 600%;
}

.site-logo {
    display: block;
    float: left;
    margin: 0px 20px 0px 20px;
}

.header-stripe-2 {
    background-color: #eeeeee;
    margin-bottom: 20px;
}

.header-stripe-2 h2 {
    font-weight: bold;
    font-size: 200%;
    padding: 10px;
    margin: 0;
}

/* global */
a:link, a:visited {
    color: #808080;
}

a:hover {
    color: #000000;
}

/* blocks */
nav, article {
    display: block;
    padding: 10px;
    margin: 0;
}

pre {
    background-color: #eeeeee;
    padding: 5px;
}

/* navigation */
nav a:link, nav a:visited {
    color: #000000;
}

nav {
    padding: 0;
}

nav ul {
    display: block;
    padding: 5px;
    margin: 0px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-align: center;
    min-width: 30px;
    display: inline-block;
    background-color: #f0f0f0;
    padding: 4px 8px;
    margin: 2px 0px;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a.active {
    background-color: #ffffff;
}

nav ul li a:hover {
    background-color: #ffffff;
}

/* packages table */
table {
	border: 0px;
	border-collapse: collapse;
	margin: 0px auto;
    width: 100%;
    font-size: inherit;
}

td a:link, td a:visited {
    color: #000000;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

tr:nth-child(even) {
	background: #f7f5f3;
}

tr:nth-child(odd) {
	background: #ffffff;
}

th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 0.5em 0;
}

td {
	padding: 0.5em 0;
	border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

td:nth-child(1) {
    padding-left: 0.5em;
}

td:nth-last-child(1) {
    padding-right: 0.5em;
}

.incomplete {
    color: #808080;
}

.version {
	font-size: 12px;
	border-radius: 3px;
	padding: 2px 4px;
}

.lonely {
	background-color: #00e0e0;
}

.good {
	background-color: #80ff80;
}

.multi {
	background-color: #ffff40;
}

.bad {
	background-color: #ff8080;
}

.ignore {
	background-color: #c0c0c0;
}

.total {
	font-weight: bold;
}

/* misc */
div.gentime {
    margin: 1em;
    text-align: center;
}
