.package-repository {
    float: right;
}

.package-name {
    margin: 0;
}

.package-version {
    margin-left: 1em;
}

.list-package-details {
    padding-left: 0;
    list-style: none;
}

.panel-heading-link, .panel-heading-link:hover, .panel-heading-link:active, .panel-heading-link:visited {
    color: inherit;
    text-decoration: underline;
}

.panel-heading-link:hover {
    text-decoration: none;
}

.repology-footer {
    background-color: #2A2730;
    color: #99979C;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.repology-footer a:link, .repology-footer-links a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.repology-footer a:hover, .repology-footer-links a:active {
    text-decoration: underline;
}

.repology-footer-links {
    list-style: none;
    padding: 0;
}

.repology-footer-links li {
    display: inline;
    margin-right: 1em;
}

.navbar-separator-at-right {
    border-right: 1px dotted #e7e7e7;
}

.navbar-separator-at-left {
    border-left: 1px dotted #e7e7e7;
}
