<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Multiple package repositories analyzer">
        <meta name="keywords" content="repository, package, version">
        <meta name="author" content="Dmitry Marakasov">
{% if subheader %}
        <title>Repology: {{ subheader }}</title>
{% else %}
        <title>Repology</title>
{% endif %}
        <link rel="stylesheet" media="screen" href="{{ site_root }}repology.css">
    </head>
<body>

<header>
    <h1>Repology</h1>
{% if subheader %}
    <h2>{{ subheader }}</h2>
{% endif %}
    <a href="https://github.com/AMDmi3/repology"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
</header>

<nav>
    Sections:
    <ul>
        <li><a href="{{ site_root }}index.html"{% if subsection == "packages" %} class="active"{% endif %}>Packages</a></li>
        <li><a href="{{ site_root }}maintainers/index.html"{% if subsection == "maintainers" %} class="active"{% endif %}>Maintainers</a></li>
        <li><a href="{{ site_root }}repositories/index.html"{% if subsection == "repositories" %} class="active"{% endif %}>Repositories</a></li>
        <li><a href="{{ site_root }}absent/index.html"{% if subsection == "absent" %} class="active"{% endif %}>Absent packages</a></li>
        <li><a href="{{ site_root }}about.html"{% if subsection == "about" %} class="active"{% endif %}>About</a></li>
    </ul>
</nav>

{% if description %}
<article><p>{{ description }}</p></article>
{% endif %}
