{% include 'header.html' %}

<article><h3>2016-10-14</h3><p>
    <ul>
        <li>All versions now link to upstream packages</li>
    </ul>
</p></article>

<article><h3>2016-10-12</h3><p>
    <ul>
        <li>Per-package pages</li>
    </ul>
</p></article>

<article><h3>2016-10-10</h3><p>
    <ul>
        <li>New repositores: <b>OpenSUSE Tumbleweed</b>, <b>Sisyphus</b>, <b>Chocolatey</b>, <b>SlackBuilds</b></li>
        <li>Statistics page, news page</li>
    </ul>
</p></article>

{% include 'footer.html' %}
