{% include 'header.html' %}

<table>
    <tr>
        <th></th>
        {% for reponame in reponames %}
            {% if repositories[reponame].incomplete %}
                <th class="incomplete" title="This repository is not completely supported, not all packages are shown. See GitHub readme for details.">
            {% else %}
                <th>
            {% endif %}
            {{ reponame | split(' ') | spantrim(8) | join('<br>') }}
            </th>
        {% endfor %}
    </tr>
    <tr><td><b>Total packages</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="total">{{ statistics[reponame].total }}</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Percent of all known</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="total">{{ (statistics[reponame].total / statistics.total|default(1, true) * 100) | round(1) }}%</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Up to date</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version good">{{ statistics[reponame].good }}</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Up to date of repo</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version good">{{ (statistics[reponame].good / statistics[reponame].total|default(1, true) * 100) | round(1) }}%</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Up to date of comparable</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version good">{{ (statistics[reponame].good / statistics[reponame].known|default(1, true) * 100) | round(1) }}%</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Up to date of all known</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version good">{{ (statistics[reponame].good / statistics.total|default(1, true) * 100) | round(1) }}%</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Outdated packages</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version bad">{{ statistics[reponame].bad }}</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Unique packages</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version lonely">{{ statistics[reponame].lonely }}</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Unique of repo</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version lonely">{{ (statistics[reponame].lonely / statistics[reponame].total|default(1, true) * 100) | round(1) }}%</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Unique of all known</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version lonely">{{ (statistics[reponame].lonely / statistics.total|default(1, true) * 100) | round(1) }}%</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Ignored packages</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version ignore">{{ statistics[reponame].ignore }}</span></td>
        {% endfor %}
    </tr>
    <tr><td><b>Ignored of repo</b></td>
        {% for reponame in reponames %}
            <td align="center"><span class="version ignore">{{ (statistics[reponame].ignore / statistics[reponame].total|default(1, true) * 100) | round(1) }}%</span></td>
        {% endfor %}
    </tr>
</table>

{% include 'footer.html' %}
