{% include 'header.html' %}

{% include 'pagination.html' %}

{% set headerevery = 50 %}

<table>
{% for package in packages %}
    {% if loop.first or (headerevery != 0 and loop.index0 % headerevery == 0) %}
    <tr>
        <th></th>
        {% for reponame in reponames %}
            <th>{{ reponame }}</th>
        {% endfor %}
    </tr>
    {% endif %}
    <tr>
        <td>{{ package.name|spantrim(20) }}</td>
        {% for reponame in reponames %}
            {% set subpackage = package.byrepo[reponame] %}
            {% if subpackage is defined %}
                <td>
                    {% if subpackage.numpackages > 1 %}
                        <span class="version {{ package.byrepo[reponame].class }}">{{ subpackage.version|spantrim(9) }}</span>({{ subpackage.numpackages }})
                    {% else %}
                        <span class="version {{ package.byrepo[reponame].class }}">{{ subpackage.version|spantrim(12) }}</span>
                    {% endif %}
                </td>
            {% else %}
                <td>-</td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>

{% include 'pagination.html' %}

{% include 'footer.html' %}
