{% include 'header.html' %}

{% include 'pagination.html' %}

{% set headerevery = 50 %}

<table>
{% for package in packages %}
    {% if loop.first or (headerevery != 0 and loop.index0 % headerevery == 0) %}
    <tr>
        <th></th>
        {% for reponame in reponames %}
            {% if repositories[reponame].incomplete %}
                <th class="incomplete" title="This repository is not completely supported, not all packages are shown. See GitHub readme for details.">
            {% else %}
                <th>
            {% endif %}
            {{ reponame | split(' ') | spantrim(8) | join('<br>') }}
            </th>
        {% endfor %}
    </tr>
    {% endif %}
    <tr>
        <td><a href="{{ site_root }}package/{{ package.name }}.html">{{ package.name|spantrim(20) }}</a></td>
        {% for reponame in reponames %}
            {% set subpackage = package.versions[reponame] %}
            {% if subpackage is defined %}
                <td>
                    {% if subpackage.numpackages > 1 %}
                        <span class="version {{ subpackage.class }}"><a href="{{ repositories[reponame].link|newformat(**subpackage.subpackage.__dict__) }}">{{ subpackage.version|spantrim(8) }}</a></span><sup>{{ subpackage.numpackages }}</sup>
                    {% else %}
                        <span class="version {{ subpackage.class }}"><a href="{{ repositories[reponame].link|newformat(**subpackage.subpackage.__dict__) }}">{{ subpackage.version|spantrim(10) }}</a></span>
                    {% endif %}
                </td>
            {% else %}
                <td>-</td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>

{% include 'pagination.html' %}

{% include 'footer.html' %}
