<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Multiple package repositories analyzer">
	<meta name="keywords" content="repository, package, version">
	<meta name="author" content="Dmitry Marakasov">
	<title>{% block title %}Repology{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}">
	<link rel="stylesheet" href="{{ url_for("static", filename="repology.css") }}">
</head>
<body>

{% macro classactive_if_endpoint(endpoint) -%}
	{%- if request.endpoint == endpoint %} class="active"{%- endif -%}
{%- endmacro %}
{% macro active_if_endpoint(endpoint) -%}
	{%- if request.endpoint == endpoint %} active{%- endif -%}
{%- endmacro %}

<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ REPOLOGY_HOME }}">
					Repology
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li{{ classactive_if_endpoint('metapackages_all') }}><a href="{{ url_for('metapackages_all') }}">All packages</a></li>
					<li{{ classactive_if_endpoint('maintainers') }}><a href="{{ url_for('maintainers') }}">By maintainer</a></li>
					<li{{ classactive_if_endpoint('metapackages_unique') }}><a href="{{ url_for('metapackages_unique') }}">Unique</a></li>
					<li{{ classactive_if_endpoint('metapackages_widespread') }}><a href="{{ url_for('metapackages_widespread') }}">Widespread</a></li>
					<li class="dropdown{{ active_if_endpoint('metapackages_in_repo') }}">
						<a href="{{ url_for('metapackages_in_repo') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By repo<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li{{ classactive_if_endpoint('metapackages_in_repo') }}><a href="{{ url_for('metapackages_in_repo') }}">All</a></li>
							<li{{ classactive_if_endpoint('metapackages_outdated_in_repo') }}><a href="{{ url_for('metapackages_outdated_in_repo') }}">Outdated</a></li>
							<li{{ classactive_if_endpoint('metapackages_not_in_repo') }}><a href="{{ url_for('metapackages_not_in_repo') }}">Missing</a></li>
							<li{{ classactive_if_endpoint('metapackages_candidates_for_repo') }}><a href="{{ url_for('metapackages_candidates_for_repo') }}">Candidates</a></li>
							<li{{ classactive_if_endpoint('metapackages_unique_in_repo') }}><a href="{{ url_for('metapackages_unique_in_repo') }}">Unique</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li{{ classactive_if_endpoint('news') }}><a href="{{ url_for('news') }}">News</a></li>
					<li{{ classactive_if_endpoint('statistics') }}><a href="{{ url_for('statistics') }}">Statistics</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="container">
	<h1 class="page-header">{% block header %}{% endblock %}</h1>
</div>

<div class="container">
{% block content %}
{% endblock %}
</div>

<footer class="repology-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="repology-footer-links">
					<li><a href="{{ url_for('about') }}">About</a></li>
					<li><a href="{{ url_for('badges') }}">Badges</a></li>
					<li><a href="{{ url_for('api_v1') }}">API</a></li>
				</ul>
			</div>
			<div class="col-md-6 text-right">
				<ul class="repology-footer-links">
					<li><a href="https://github.com/AMDmi3/repology">GitHub</a></li>
				</ul>
			</div>
		</div>
		<p>
			Copyright (C) 2016 Dmitry Marakasov &lt;<a href="mailto:amdmi3@amdmi3.ru">amdmi3@amdmi3.ru</a>&gt;.<br>
			Code licensed GPLv3+.
		</p>
	</div>
</footer>

<script src="{{ url_for("static", filename="jquery-3.1.1.min.js") }}"></script>
<script src="{{ url_for("static", filename="bootstrap.min.js") }}"></script>

</body>
</html>
