<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Multiple package repositories analyzer">
	<meta name="keywords" content="repository, package, version">
	<meta name="author" content="Dmitry Marakasov">
	<title>{% block title %}Repology{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}">
</head>
<body>

<a href="https://github.com/AMDmi3/repology"><img style="position: absolute; z-index: 1001; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

{% macro classactive_if_endpoint(endpoint) -%}
{% if request.endpoint == endpoint %} class="active"{% endif %}
{%- endmacro %}
{% macro active_if_endpoint(endpoint) -%}
{% if request.endpoint == endpoint %} active{% endif %}
{%- endmacro %}

<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ REPOLOGY_HOME }}">
					Repology
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li{{ classactive_if_endpoint('metapackages_all') }}><a href="{{ url_for('metapackages_all') }}">All packages</a></li>
					<li{{ classactive_if_endpoint('maintainers') }}><a href="{{ url_for('maintainers') }}">By maintainer</a></li>
					<li{{ classactive_if_endpoint('metapackages_unique') }}><a href="{{ url_for('metapackages_unique') }}">Unique</a></li>
					<li{{ classactive_if_endpoint('metapackages_widespread') }}><a href="{{ url_for('metapackages_widespread') }}">Widespread</a></li>
					<li class="dropdown{{ active_if_endpoint('metapackages_in_repo') }}">
						<a href="{{ url_for('metapackages_in_repo') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By repo<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li{{ classactive_if_endpoint('metapackages_in_repo') }}><a href="{{ url_for('metapackages_in_repo') }}">All</a></li>
							<li{{ classactive_if_endpoint('metapackages_outdated_in_repo') }}><a href="{{ url_for('metapackages_outdated_in_repo') }}">Outdated</a></li>
							<li{{ classactive_if_endpoint('metapackages_not_in_repo') }}><a href="{{ url_for('metapackages_not_in_repo') }}">Missing</a></li>
							<li{{ classactive_if_endpoint('metapackages_candidates_for_repo') }}><a href="{{ url_for('metapackages_candidates_for_repo') }}">Candidates</a></li>
							<li{{ classactive_if_endpoint('metapackages_unique_in_repo') }}><a href="{{ url_for('metapackages_unique_in_repo') }}">Unique</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li{{ classactive_if_endpoint('about') }}><a href="{{ url_for('about') }}">About</a></li>
					<li{{ classactive_if_endpoint('news') }}><a href="{{ url_for('news') }}">News</a></li>
					<li{{ classactive_if_endpoint('statistics') }}><a href="{{ url_for('statistics') }}">Statistics</a></li>
					<li{{ classactive_if_endpoint('badges') }}><a href="{{ url_for('badges') }}">Badges</a></li>
					<li{{ classactive_if_endpoint('api_v1') }}><a href="{{ url_for('api_v1') }}">API</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="header-stripe-2">
	<div class="container">
		<header>
			<h2>{% block subheader %}{% endblock %}</h2>
		</heaeder>
	</div>
</div>

<script src="{{ url_for("static", filename="jquery-3.1.1.min.js") }}"></script>
<script src="{{ url_for("static", filename="bootstrap.min.js") }}"></script>

<div class="container">
{% block content %}
{% endblock %}
</div>

</body>
</html>
