{%- macro repository_link(reponame) -%}
	{%- if repometadata[reponame].url -%}
		<a href="{{ repometadata[reponame].url }}">{{ repometadata[reponame].desc }}</a>
	{%- else -%}
		{{ repometadata[reponame].desc }}
	{%- endif -%}
{%- endmacro -%}

{%- macro maintainer_link(maintainer) -%}
	{% if maintainer|maintainer_to_link -%}
		<a href="{{ maintainer|maintainer_to_link }}">{{ maintainer }}</a>
	{%- else -%}
		{{ maintainer }}
	{%- endif -%}
{%- endmacro -%}

{%- macro package_link(package, text) -%}
	{%- if repometadata[package.repo].links -%}
		<a href="{{ repometadata[package.repo].links[0].url|pkg_format(package) }}">{{ text }}</a>
	{%- else -%}
		{{ text }}
	{%- endif -%}
{%- endmacro -%}

{%- macro link_status(link, link_statuses) -%}
	{%- if link in link_statuses %}
		{%- if not link_statuses[link].status -%}
		{%- elif link_statuses[link].status == -1 -%}
			<sup class="link_error" title="Check failed for this URL: connect timed out (60 seconds)">!</sup>
		{%- elif link_statuses[link].status == -2 -%}
			<sup class="link_error" title="Check failed for this URL: too many redirects">!</sup>
		{%- elif link_statuses[link].status == -3 -%}
			<sup class="link_error" title="Check failed for this URL: unknown error">!</sup>
		{%- elif link_statuses[link].status == -4 -%}
			<sup class="link_error" title="Check failed for this URL: could not connect (likely DNS problem)">!</sup>
		{%- elif link_statuses[link].status != 200 -%}
			<sup class="link_error" title="Check failed for this URL: bad HTTP response {{ link_statuses[link].status }}">!</sup>
		{%- endif -%}
	{%- endif %}
{%- endmacro -%}

{%- macro safe_percent(value, total, round=1) -%}
	{%- if total == 0 -%}
		-
	{%- else -%}
	{%- if round > 0 -%}
		{{ (value/total*100.0)|round(round) }}%
	{%- else -%}
		{{ (value/total*100.0)|int }}%
	{%- endif -%}
	{%- endif -%}
{%- endmacro -%}

{%- macro value_with_delta(value, old_value) -%}
	{%- if old_value is defined -%}
		{%- if value > old_value -%}
		<div class="popup-container">
			{{- value -}}
			<span class="popup-container-inner"><sup class="popup delta-positive">+{{ value - old_value }} in last week</sup></span></div>
		{%- elif value < old_value -%}
		<div class="popup-container">
			{{- value -}}
			<span class="popup-container-inner"><sup class="popup delta-negative">-{{ old_value - value }} in last week</sup></span></div>
		{%- else -%}
		{{- value -}}
		{%- endif -%}
	{%- else -%}
	{{- value -}}
	{%- endif -%}
{%- endmacro -%}
