{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ super() }}: maintainers{% endblock %}
{% block header %}Maintainers{% endblock %}
{% block description %}Package maintainers listing{% endblock %}
{% block keywords %}{{ super()}}, maintainer, maintainers{% endblock %}

{% block content %}
<div class="container">

<nav>
	<div class="form-group">
		<form class="form-inline" action="{{ url_for_self(bound=None) }}" method="GET">
			<div class="btn-group">
			{% if search %}
			{% if maintainers %}
				<a href="{{ url_for_self(bound=(maintainers|first).maintainer+"..") }}" class="btn btn-default">Clear</a>
			{% else %}
				<a href="{{ url_for_self(bound=None) }}" class="btn btn-default">Clear</a>
			{% endif %}
			{% else %}
				<a href="{{ url_for_self(bound=None) }}" class="btn btn-default {% if firstpage %} disabled{% endif %}">&laquo;&laquo;</a>
				{% if maintainers %}
				<a href="{{ url_for_self(bound=".."+(maintainers|first).maintainer, search=search) }}" class="btn btn-default{% if firstpage %} disabled{% endif %}">&laquo;</a>
				<a href="{{ url_for_self(bound=(maintainers|last).maintainer+"..", search=search) }}" class="btn btn-default{% if lastpage %} disabled{% endif %}">&raquo;</a>
				{% endif %}
				<a href="{{ url_for_self(bound=".."+maxmaintainer) }}" class="btn btn-default {% if lastpage %} disabled{% endif %}">&raquo;&raquo;</a>
			{% endif %}
			</div>
			<div class="input-group">
				<input class="form-control" type="text" name="search" value="{{ search|default('', true) }}" placeholder="Search maintainers">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default">Go</button>
				</div>
			</div>
		</form>
	</div>
</nav>

{% if maintainers %}
<div class="row">
{% for column in maintainers|slice(2) %}
{% if column %}
	<div class="col-md-6">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th class="text-right">Maintainer</th>
					<th class="text-center">Total packages</th>
					<th class="text-center">Outdated packages</th>
					<th class="text-center">Up to date</th>
				</tr>
			</thead>
			<tbody>
			{% for maintainer in column %}
				<tr>
					<td class="text-right break-word">
						<a href="{{ url_for('maintainer', maintainer=maintainer.maintainer) }}">
							{{ maintainer.maintainer }}
						</a>
					</td>
					<td class="text-center">
						<a href="{{ url_for('metapackages_by_maintainer', maintainer=maintainer.maintainer) }}">
							{{ maintainer.num_packages }}
						</a>
					</td>
					<td class="text-center">
						<a href="{{ url_for('metapackages_outdated_by_maintainer', maintainer=maintainer.maintainer) }}">
							{{ maintainer.num_packages_outdated }}
						</a>
					</td>
					<td class="text-center">
						{{ macros.safe_percent(maintainer.num_packages - maintainer.num_packages_outdated, maintainer.num_packages, 0) }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	{% endfor %}
	</div>
{% else %}
<div class="alert alert-warning" role="alert">No maintainers found matching the criteria</div>
{% endif %}

</div>
{% endblock %}
