{% extends "layout.html" %}

{% block title %}
{{ super() }}: maintainers
{% endblock %}

{% block header %}
Maintainers
{% endblock %}

{% block content %}

<nav>
	<ul class="pagination">
		<li{% if page is for_page('0') %} class="active"{% endif %}><a href="{{ url_for_self(page=None) }}">0-9</a></li>
		{% for letter in "abcdefghijklmnopqrstuvwxyz" %}
		<li{% if page is for_page(letter) %} class="active"{% endif %}>
			<a href="{{ url_for_self(page=letter) }}">
				{{ letter|upper }}
			</a>
		</li>
		{% endfor %}
	</ul>
</nav>

<ul>
{% for maintainer in maintainers %}
	<li style="font-size: {{ 100 + ((maintainer.num_packages | sqrt) * 5) | clamp(0, 200) | round | int }}%">
		<a href="{{ url_for('metapackages_by_maintainer', maintainer=maintainer.maintainer) }}">{{ maintainer.maintainer }}</a> ({{ maintainer.num_packages }})
	</li>
{% endfor %}
</ul>

{% endblock %}
