{% extends "metapackage.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ super() }}: related for {{ name }}{% endblock %}
{% block header %}Related for <strong>{{ name }}</strong>{% endblock %}
{% block description %}List of packages with same homepage as {{ name }} in all repositories{% endblock %}

{% block content %}
<div class="container">

{% if too_many_warning %}
<div class="alert alert-warning" role="alert">Too many related metapackages found, only listing first {{ too_many_warning }}!</div>
{% endif %}

<p>Related packages are determined by recursively matching package homepage URLs.</p>

{% include "metapackages_table.html" %}

</div>
{% endblock %}
