{% extends "layout.html" %}

{% block subheader %}
Metapackages index
{% endblock %}

{% block content %}

<nav>
    Pages:
    <ul>
        {% if firstname %}
            <li><a href="{{ url_for_self(bound="<"+firstname) }}">«</a></li>
        {% endif %}
        {% if lastname %}
            <li><a href="{{ url_for_self(bound=">"+lastname) }}">»</a></li>
        {% endif %}
    </ul>
    <ul>
        <li><a href="{{ url_for_self(bound=None) }}"{% if not firstname or firstname < 'a' %} class="active"{% endif %}>0-9</a></li>
        {% for letter in "abcdefghijklmnopqrstuvwxyz" %}
            <li>
                <a href="{{ url_for_self(bound=letter) }}"{% if firstname and firstname >= letter and firstname < next_letter(letter) %} class="active"{% endif %}>
                    {{ letter|upper }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>

<nav>
    Search:
    <form action="{{ url_for_self(bound=None) }}" method="GET">
        <input type="text" name="search" value="{{ search|default('', true) }}">
    </form>
</nav>

{% if summaries %}
    <table>
    {% for metapackagename,summaries in summaries|dictsort %}
        {% set headerevery = 50 %}
        {% if loop.first or (headerevery != 0 and loop.index0 % headerevery == 0) %}
        <tr>
            <th></th>
            {% for reponame in reponames %}
                <th>
                    {{ repometadata[reponame].desc|split(' ')|spantrim(8)|join('<br>')|safe }}
                </th>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            <td><a href="{{ url_for("metapackage", name=metapackagename) }}">{{ metapackagename|spantrim(20)|safe }}</a></td>
            {% for reponame in reponames %}
                {% set summary = summaries[reponame] %}
                {% if summary is defined %}
                    <td>
                        <span class="version {{ summary.versionclass|repositoryversionclass2css }}">
                            {%- if repometadata[reponame].links -%}
                                <a href="{{ repometadata[reponame].links[0].url|pkg_format(summary.bestpackage) }}">
                            {%- endif -%}
                            {%- if summary.numpackages > 1 -%}
                                {{- summary.version|spantrim(8)|safe -}}
                            {%- else -%}
                                {{- summary.version|spantrim(10)|safe -}}
                            {%- endif -%}
                            {%- if repometadata[reponame].links -%}
                                </a>
                            {%- endif -%}
                        </span>
                        {%- if summary.numpackages > 1 -%}
                            <sup>{{- summary.numpackages -}}</sup>
                        {%- endif -%}
                    </td>
                {% else %}
                    <td>-</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock %}

