{% extends "metapackage.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ super() }}: information for {{ name }}{% endblock %}
{% block header %}Information for <strong>{{ name }}</strong>{% endblock %}
{% block description %}Aggregated information from all packages for metapackage {{ name }}{% endblock %}

{% block content %}
<div class="container">

{% if not information %}
<div class="alert alert-warning" role="alert">No data found for metapackage <strong>{{ name }}</strong></div>
{% else %}
<div class="row">
	<div class="col-md-4">

		<h2>Package names</h2>
		<ul>
		{% for name,families in information.names|dictsort(case_sensitive=True) %}
			<li>{{ name }} <b>({{ families|length }})</b></li>
		{% endfor %}
		</ul>

		<h2>Versions</h2>
		<ul class="list-sparse">
		{% for versioninfo in versions %}
			<li>
				<span class="version version-big version-{{ versioninfo.versionclass|css_for_package_versionclass }}">{{ versioninfo.version }}</span> <b>({{ versioninfo.families|length }})</b>
			</li>
		{% endfor %}
		</ul>

		<h2>Repositories</h2>
		<ul>
		{% for reponame,families in information.repos|dictsort(case_sensitive=True) %}
		<li><a href="{{ url_for('repository', repo=reponame) }}">{{ repometadata[reponame].desc }}</a></li>
		{% endfor %}
		</ul>

		{% if information.categories %}
		<h2>Categories</h2>
		<ul>
		{% for category,families in information.categories|dictsort(case_sensitive=True) %}
			<li>{{ category }} <b>({{ families|length }})</b></li>
		{% endfor %}
		</ul>
		{% endif %}

	</div>
	<div class="col-md-8">

		{% if information.summaries %}
		<h2>Summaries</h2>
		<ul>
		{% for summary,families in information.summaries|dictsort(case_sensitive=True) %}
			<li>{{ summary }} <b>({{ families|length }})</b></li>
		{% endfor %}
		</ul>
		{% endif %}

		{% if information.maintainers %}
		<h2>Maintainers</h2>
		<ul>
		{% for maintainer,families in information.maintainers|dictsort(case_sensitive=True) %}
		<li><a href="{{ url_for('maintainer', maintainer=maintainer) }}">{{ maintainer }}</a> <b>({{ families|length }})</b></li>
		{% endfor %}
		</ul>

		{% if information.maintainers|maintainers_to_group_mailto %}
		<ul>
			<li>
				<a href="{{ information.maintainers|maintainers_to_group_mailto('%5Brepology%5D%20' + name + '%20package') }}">Group email</a>
			</li>
		</ul>
		{% endif %}
		{% endif %}

		{% if information.homepages %}
		<h2>Homepages</h2>
		<ul>
		{% for homepage,families in information.homepages|dictsort(case_sensitive=True) %}
			<li><a href="{{ homepage }}">{{ homepage }}</a>{{ macros.link_status(homepage, link_statuses) }} <b>({{ families|length }})</b></li>
		{% endfor %}
		</ul>
		{% endif %}

		{% if information.downloads %}
		<h2>Downloads</h2>
		<ul>
		{% for download,families in information.downloads|dictsort(case_sensitive=True) %}
			<li><a href="{{ download }}">{{ download }}</a>{{ macros.link_status(download, link_statuses) }} <b>({{ families|length }})</b></li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endif %}

</div> {#- container #}
{% endblock %}
