{% extends "layout.html" %}

{% block subheader %}
Metapackages index
{% endblock %}

{% block content %}

{% set headerevery = 50 %}

<nav>
    Pages:
    <ul>
        <li><a href="{{ url_for('metapackages') }}">*</a></li>
        {% for letter in "abcdefghijklmnopqrstuvwxyz" %}
            <li><a href="{{ url_for('metapackages', starting=letter) }}">{{ letter|upper }}</a></li>
        {% endfor %}
    </ul>
</nav>

<table>
{% for metapackagename,summaries in summaries|dictsort %}
    {% if loop.first or (headerevery != 0 and loop.index0 % headerevery == 0) %}
    <tr>
        <th></th>
        {% for reponame in reponames %}
            <th>
                {{ repometadata[reponame].desc|split(' ')|spantrim(8)|join('<br>')|safe }}
            </th>
        {% endfor %}
    </tr>
    {% endif %}
    <tr>
        <td><a href="{{ url_for("metapackage", name=metapackagename) }}">{{ metapackagename|spantrim(20)|safe }}</a></td>
        {% for reponame in reponames %}
            {% set summary = summaries[reponame] %}
            {% if summary is defined %}
                <td>
                    <span class="version {{ summary.versionclass|repositoryversionclass2css }}">
                        {%- if repometadata[reponame].link -%}
                            <a href="{{ repometadata[reponame].link|newformat(**summary.bestpackage.__dict__)|safe }}">
                        {%- endif -%}
                        {%- if summary.numpackages > 1 -%}
                            {{- summary.version|spantrim(8)|safe -}}
                        {%- else -%}
                            {{- summary.version|spantrim(10)|safe -}}
                        {%- endif -%}
                        {%- if repometadata[reponame].link -%}
                            </a>
                        {%- endif -%}
                    </span>
                    {%- if summary.numpackages > 1 -%}
                        <sup>{{- summary.numpackages -}}</sup>
                    {%- endif -%}
                </td>
            {% else %}
                <td>-</td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>

{% endblock %}

