{% extends "metapackage.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ super() }}: versions for {{ name }}{% endblock %}
{% block header %}Versions for <strong>{{ name }}</strong>{% endblock %}
{% block description %}List of package versions for metapackage {{ name }} in all repositories{% endblock %}

{% block content %}
<div class="container">

{% if not packages_by_repo %}
<div class="alert alert-warning" role="alert">No data found for metapackage <strong>{{ name }}</strong></div>
{% else %}

<table class="table table-striped">
	<tr>
		<th class="text-right">Repository</th>
		<th class="text-center">Package name</th>
		<th class="text-center">Version</th>
		<th class="text-center">Category</th>
		<th class="text-left">Maintainer(s)</th>
	</tr>
{% for reponame in reponames %}
{% set packages = packages_by_repo[reponame] %}
{% set numpackages = packages|length %}
{% for package in packages %}
	<tr{% if loop.first %} id="{{ reponame }}"{% endif %}>
		<td class="text-right">
			<a href="{{ url_for('repository', repo=reponame) }}">{{ repometadata[reponame].desc }}</a>
			{%- if package.subrepo -%}
				<br><sup>{{ package.subrepo }}</sup>
			{%- endif -%}
		</td>
		<td class="text-center">{{ macros.package_link(package, package.name) }}</td>
		<td class="text-center">
			<span class="version version-big version-{{ package.versionclass|css_for_package_versionclass }}">
				{{- macros.package_link(package, package.version) -}}
			</span>
		</td>
		<td class="text-center">
			{{- package.category|default('-', boolean=True) -}}
		</td>
		<td class="text-left">
		{%- for maintainer in package.maintainers -%}
			{%- if not loop.first %}, {% endif -%}
			<a href="{{ url_for('maintainer', maintainer=maintainer) }}">{{ maintainer }}</a>
		{%- else -%}
			-
		{%- endfor %}
		</td>
	</tr>
{% endfor %}
{% endfor %}
</table>

{% if reponames_absent %}
<h1>Absent in repositories</h1>

<div class="row">
{% for column in reponames_absent|slice(4) %}
{% if column %}
	<div class="col-md-3">
		<ul>
		{% for reponame in column %}
			<li><a href="{{ url_for('repository', repo=reponame) }}">{{ repometadata[reponame].desc }}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% endif %}

</div> {#- container #}
{% endblock %}
