{% extends "layout.html" %}

{% block title %}
{{ super() }}: news
{% endblock %}

{% block header %}
News
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ REPOLOGY_HOME }}">Home</a></li>
<li class="active">News</li>
{% endblock %}

{% block content %}
<div class="container">

<article><h3>2016-12-14</h3><p>
	<ul>
		<li>Major switch from static generated site to dynamic database backend.</li>
		<li>Pagination improved.</li>
		<li>API supported.</li>
		<li>Badges supported.</li>
	</ul>
</p></article>

<article><h3>2016-11-18</h3><p>
	<ul>
		<li><b>CentOS</b> and <b>Magaia</b> support added.</li>
	</ul>
</p></article>

<article><h3>2016-11-17</h3><p>
	<ul>
		<li><b>Fedora Rawhide</b> support added.</li>
		<li>Support for parsing download URLs (only works for <b>SlackBuilds</b> for now).</li>
	</ul>
</p></article>

<article><h3>2016-11-14</h3><p>
	<ul>
		<li>Version comparison improvements.</li>
		<li>More data extracted from some repositories.</li>
	</ul>
</p></article>

<article><h3>2016-10-14</h3><p>
	<ul>
		<li>All versions now link to upstream packages.</li>
	</ul>
</p></article>

<article><h3>2016-10-12</h3><p>
	<ul>
		<li>Per-package pages.</li>
	</ul>
</p></article>

<article><h3>2016-10-10</h3><p>
	<ul>
		<li>New repositores: <b>OpenSUSE Tumbleweed</b>, <b>Sisyphus</b>, <b>Chocolatey</b>, <b>SlackBuilds</b>.</li>
		<li>Statistics page, news page.</li>
	</ul>
</p></article>

</div>
{% endblock %}
