{% extends "layout.html" %}

{% block title %}{{ super() }}: news{% endblock %}
{% block header %}News{% endblock %}

{% block content %}
<div class="container">

<article>
	<h3>2017-07-04</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='ravenports') }}">Ravenports</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='linux_mint_18_2') }}">Linux Mint 18.2</a> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-06-07</h3>
	<ul>
		<li>Related metapackages feature.</li>
	</ul>
</article>

<article>
	<h3>2017-06-06</h3>
	<ul>
		<li>New functional title page.</li>
	</ul>
</article>

<article>
	<h3>2017-05-23</h3>
	<ul>
		<li>Added <b>DistroWatch</b> support.</li>
	</ul>
</article>

<article>
	<h3>2017-05-22</h3>
	<ul>
		<li>Added <b>OpenIndiana</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-05-19</h3>
	<ul>
		<li>Included all <b>Gentoo</b> and <b>AUR</b> packages. Snapshots and older ebuilds are no longer ignored.</li>
		<li>Added <b>CRAN</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-05-04</h3>
	<ul>
		<li>Added <b>MacPorts</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-03-27</h3>
	<ul>
		<li>Added <b>RPM Fusion Fedora</b> repositories.</li>
	</ul>
</article>

<article>
	<h3>2017-03-23</h3>
	<ul>
		<li>Added <b>EPEL</b> repositories.</li>
	</ul>
</article>

<article>
	<h3>2017-03-20</h3>
	<ul>
		<li>Added <b>PlayDeb</b> repository.</li>
	</ul>
</article>

</div> {#- container #}
{% endblock %}
