{% extends "layout.html" %}

{% block title %}{{ super() }}: news{% endblock %}
{% block header %}News{% endblock %}

{% block content %}
<div class="container">

<article>
	<h3>2017-05-19</h3>
	<ul>
		<li>Included all <b>Gentoo</b> and <b>AUR</b> packages. Snapshots and older ebuilds are no longer ignored.</li>
		<li>Added <b>CRAN</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-05-04</h3>
	<ul>
		<li>Added <b>MacPorts</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-03-27</h3>
	<ul>
		<li>Added <b>RPM Fusion Fedora</b> repositories.</li>
	</ul>
</article>

<article>
	<h3>2017-03-23</h3>
	<ul>
		<li>Added <b>EPEL</b> repositories.</li>
	</ul>
</article>

<article>
	<h3>2017-03-20</h3>
	<ul>
		<li>Added <b>PlayDeb</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-03-14</h3>
	<ul>
		<li>Added <b>Manjaro Linux</b> repositories.</li>
	</ul>
</article>

<article>
	<h3>2017-03-13</h3>
	<ul>
		<li>Added a simple way to report metapackage problems (e.g. when metapackages should be split, merged or specific version should be ignored) and thus suggest new rules without resorting to GitHub pull requests. See <b>Report</b> tab on metapackage page.</li>
	</ul>
</article>

<article>
	<h3>2017-03-10</h3>
	<ul>
		<li>Added per-repository pages and per-repository statistics graphs.</li>
	</ul>
</article>

<article>
	<h3>2017-03-09</h3>
	<ul>
		<li>Added <b>Astra Linux</b> and <b>Linux Mint</b> repositories, extended <b>Rosa</b> support (added contrib repository).</li>
	</ul>
</article>

<article>
	<h3>2017-03-07</h3>
	<ul>
		<li>Introduced package <b>problems</b> such as dead or incorrect homepage links. Problems may be accessed from statistics or maintainer pages. In future, more problem classes will be added (ideas are welcome).</li>
	</ul>
</article>

<article>
	<h3>2017-03-03</h3>
	<ul>
		<li>Added <b>KDE neon</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-02-17</h3>
	<ul>
		<li>Added <b>Parabola</b> and <b>PCLinuxOS</b> repositories.</li>
	</ul>
</article>

<article>
	<h3>2017-02-13</h3>
	<ul>
		<li>Added <b>CRUX</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-02-09</h3>
	<ul>
		<li>Added <b>Hackage</b> repository.</li>
	</ul>
</article>

<article>
	<h3>2017-02-08</h3>
	<ul>
		<li>Added per-maintainer information pages.</li>
		<li>Implemented feature which lists similar maintainers for any maintainer.</li>
	</ul>
</article>

<article>
	<h3>2017-02-03</h3>
	<ul>
		<li>Added <b>Alpine Linux</b> repository.
		</li>
	</ul>
</article>

<article>
	<h3>2017-02-02</h3>
	<ul>
		<li>Added <b>nixpgs</b> repository.
		</li>
	</ul>
</article>

<article>
	<h3>2017-01-30</h3>
	<ul>
		<li>Enabled many more repositories. These were supported for some time, but not enabled due to limitations of web UI. These include: DragonFly BSD <b>DPorts</b> (these are derived from FreeBSD ports, so in the same family), older <b>Debian</b> (stable, testing, experimental), <b>Ubuntu</b> (precise, trusty, xenial, yakkety), <b>Fedora</b> (24, 25), <b>Mageia</b> (6) versions, ArchLinux <b>AUR</b>, <b>CentOS</b> 6 and 7, <b>Rosa Linux</b>, <b>GoboLinux</b>, <b>YACP</b> (yet another cygwin ports), <b>GNU Guix</b>, <b>freshcode.club</b> and <b>Libregamewiki</b> news sites, <b>CPAN</b>, <b>PyPi</b> and <b>RubyGems</b> upstream repositories, <b>F-Droid</b> and <b>Chocolatey</b>.
		</li>
	</ul>
</article>

<article>
	<h3>2017-01-29</h3>
	<ul>
		<li>Implemented link checker. Now all homepage and download links are checked, and problems (HTTP errors as fatal problems and permanent (301) redirect as warnings) displayed next to the link.</li>
		<li>Switched to compact metapackage table. Instead of column per repository a list of known versions is displayed to make the table more readable and allow more repositories to be shown.</li>
		<li>Basic history support. Per-repository statistics are now tracked and change of metapackage numbers during last week displayed on statistics page.</li>
	</ul>
</article>

<article>
	<h3>2017-01-09</h3>
	<ul>
		<li>Total revamp of website design, switched to <a href="http://getbootstrap.com/">bootstrap</a>.</li>
		<li>Maintainers pagination improved.</li>
		<li>New <a href="{{ url_for("repositories") }}">repositories</a> page with links to per-repository metapackage lists.</li>
		<li>Per-metapackage information and badges pages, per-metapackage package list readability improved.</li>
	</ul>
</article>

<article>
	<h3>2016-12-14</h3>
	<ul>
		<li>Major switch from static generated site to dynamic database backend.</li>
		<li>Pagination improved.</li>
		<li>API supported.</li>
		<li>Badges supported.</li>
	</ul>
</article>

<article>
	<h3>2016-11-18</h3>
	<ul>
		<li><b>Magaia</b> support added.</li>
	</ul>
</article>

<article>
	<h3>2016-11-17</h3>
	<ul>
		<li><b>Fedora Rawhide</b> support added.</li>
		<li>Support for parsing download URLs (only works for <b>SlackBuilds</b> for now).</li>
	</ul>
</article>

<article>
	<h3>2016-11-14</h3>
	<ul>
		<li>Version comparison improvements.</li>
		<li>More data extracted from some repositories.</li>
	</ul>
</article>

<article>
	<h3>2016-10-14</h3>
	<ul>
		<li>All versions now link to upstream packages.</li>
	</ul>
</article>

<article>
	<h3>2016-10-12</h3>
	<ul>
		<li>Per-package pages.</li>
	</ul>
</article>

<article>
	<h3>2016-10-10</h3>
	<ul>
		<li>New repositores: <b>OpenSUSE Tumbleweed</b>, <b>Sisyphus</b>, <b>SlackBuilds</b>.</li>
		<li>Statistics page, news page.</li>
	</ul>
</article>

</div> {#- container #}
{% endblock %}
