{% extends "layout.html" %}

{% block title %}
Metapackage {{ name }} - {{ super() }}
{% endblock %}

{% block subheader %}
Metapackage {{ name }}
{% endblock %}

{% block content %}

{% if not packages %}
<h2>No packages found</h2>
{% endif %}

<div class="row">
{% for package in packages %}
{% if not loop.first and loop.index0 % 3 == 0 %}</div><div class="row">{% endif %}
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ repometadata[package.repo].desc }}<br>
                {% if package.versionclass == 1 %}
                    {% set versionclass = "good" %}
                {% elif package.versionclass == 2 %}
                    {% set versionclass = "bad" %}
                {% elif package.versionclass == 3 %}
                    {% set versionclass = "ignore" %}
                {% endif %}
                {{ package.name }}<br><span class="{{ versionclass }}">{{ package.version }}</span>
                {% if package.origversion %}({{ package.origversion }}){% endif %}
            </div>
            <ul class="list-group">
            {% if package.comment %}
                <li class="list-group-item"><b>Summary:</b><br>
                    {{ package.comment }}
                </li>
            {% endif %}
            {% if package.maintainers %}
                <li class="list-group-item"><b>Maintainer{% if package.maintainers|length > 1 %}s{% endif %}:</b>
                    <ul>
                    {% for maintainer in package.maintainers %}
                        <li>{{ maintainer }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if package.category %}
                <li class="list-group-item"><b>Category:</b>
                    <ul>
                        <li>{{ package.category }}</li>
                    </ul>
                </li>
            {% endif %}
            {% if package.licenses %}
                <li class="list-group-item"><b>License{% if package.licenses|length > 1 %}s{% endif %}:</b>
                    <ul>
                        {% for license in package.licenses %}
                            <li>{{ license }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if repometadata[package.repo].links %}
                <li class="list-group-item"><b>Package link{% if repometadata[package.repo].links|length > 1 %}s{% endif %}:</b>
                    <ul>
                        {% for link in repometadata[package.repo].links %}
                            <li><a href="{{ link.url|pkg_format(package) }}">{{ link.desc }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if package.homepage %}
                <li class="list-group-item"><b>Homepage:</b>
                    <ul>
                        <li>
                            <a href="{{ package.homepage }}">{{ package.homepage }}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if package.downloads %}
                <li class="list-group-item"><b>Download(s):</b>
                    <ul>
                        {% for download in package.downloads %}
                            <li><a href="{{ download }}">{{ download }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
