{% extends "layout.html" %}

{% block title %}
Metapackage {{ name }} - {{ super() }}
{% endblock %}

{% block subheader %}
Metapackage {{ name }}
{% endblock %}

{% block content %}

{% set prevrepo = "" %}

{% if not packages %}
<h2>No packages found</h2>
{% endif %}

{% for package in packages %}
    {% if package.repo != prevrepo %}
        <h2>
            {{ repometadata[package.repo].desc }}
            {% set prevrepo = package.repo %}
        </h2>
    {% endif %}
<h3>
    {% if package.versionclass == 1 %}
        {% set versionclass = "good" %}
    {% elif package.versionclass == 2 %}
        {% set versionclass = "bad" %}
    {% elif package.versionclass == 3 %}
        {% set versionclass = "ignore" %}
    {% endif %}
    {{ package.name }}-<span class="{{ versionclass }}">{{ package.version }}</span>
    {% if package.origversion %}({{ package.origversion }}){% endif %}
</h3>
<ul>
    {% if package.comment %}
        <li><b>Summary:</b>
            <ul>
                <li>
                    {{ package.comment }}
                </li>
            </ul>
        </li>
    {% endif %}
    {% if package.maintainers %}
        <li><b>Maintainer{% if package.maintainers|length > 1 %}s{% endif %}:</b>
            <ul>
                {% for maintainer in package.maintainers %}
                    <li>{{ maintainer }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% if package.category %}
        <li><b>Category:</b>
            <ul>
                <li>
                   {{ package.category }}
                </li>
            </ul>
        </li>
    {% endif %}
    {% if package.licenses %}
        <li><b>License{% if package.licenses|length > 1 %}s{% endif %}:</b>
            <ul>
                {% for license in package.licenses %}
                    <li>{{ license }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% if repometadata[package.repo].links %}
        <li><b>Package link{% if repometadata[package.repo].links|length > 1 %}s{% endif %}:</b>
            <ul>
                {% for link in repometadata[package.repo].links %}
                    <li><a href="{{ link.url|pkg_format(package) }}">{{ link.desc }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% if package.homepage %}
        <li><b>Homepage:</b>
            <ul>
                <li>
                    <a href="{{ package.homepage }}">{{ package.homepage }}</a>
                </li>
            </ul>
        </li>
    {% endif %}
    {% if package.downloads %}
        <li><b>Download(s):</b>
            <ul>
                {% for download in package.downloads %}
                    <li><a href="{{ download }}">{{ download }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
</ul>
{% endfor %}
{% endblock %}
