{% extends "layout.html" %}

{% block title %}Repology: problems{% endblock %}
{% block header %}Problems{% endblock %}

{% block content %}
<div class="container">

{% if problems %}
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-right">Repository</th>
			<th class="text-center">Metapackage</th>
			<th class="text-center">Package name</th>
			<th class="text-center">Maintainer</th>
			<th class="text-left">Problem</th>
		</tr>
	</thead>
	<tbody>
	{% for problem in problems %}
		<tr>
			<td class="text-right"><a href="{{ url_for('repository', repo=problem.repo) }}">{{ repometadata[problem.repo].desc }}</a></td>
			<td class="text-center"><a href="{{ url_for('metapackage', name=problem.effname) }}">{{ problem.effname }}</a></td>
			<td class="text-center">{{ problem.name }}</td>
			<td class="text-center">
			{%- if problem.maintainer -%}
				<a href="{{ url_for('maintainer', maintainer=problem.maintainer) }}">{{ problem.maintainer }}</a>
			{%- else -%}
				-
			{%- endif -%}
			</td>
			<td class="text-left">{{ problem.problem }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-success" role="alert">No problems found matching the criteria</div>
{% endif %}

</div> {#- container #}
{% endblock %}
