{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block extrameta %}
	<meta http-equiv="refresh" content="3600">
{% endblock %}

{% block title %}Repology: repository {{ repometadata[repo].desc }}{% endblock %}
{% block header %}Repository <strong>{{ repometadata[repo].desc }}</strong>{% endblock %}
{% block description %}Information on repository {{ repometadata[repo].desc }}{% endblock %}
{% block keywords %}{{ super()}}, repository{% endblock %}

{% block content %}
<div class="container">

{%- if repometadata[repo].url -%}
<h2>Link</h2>
<ul><li><a href="{{ repometadata[repo].url }}">{{ repometadata[repo].url }}</a></li></ul>
{%- endif -%}

<h2>Packages</h2>
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3>Total</h3></div>
			<div class="panel-body">
				{{ repo_info.num_packages }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading"><h3>Newest</h3></div>
			<div class="panel-body">
				{{ repo_info.num_packages_newest }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-danger">
			<div class="panel-heading"><h3>Outdated</h3></div>
			<div class="panel-body">
				{{ repo_info.num_packages_outdated }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Ignored</h3></div>
			<div class="panel-body">
				{{ repo_info.num_packages_ignored }}
			</div>
		</div>
	</div>
</div>

<h2>Metapackages</h2>
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3>Total</h3></div>
			<div class="panel-body">
				{{ repo_info.num_metapackages }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading"><h3>Newest</h3></div>
			<div class="panel-body">
				{{ repo_info.num_metapackages_newest }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-danger">
			<div class="panel-heading"><h3>Outdated</h3></div>
			<div class="panel-body">
				{{ repo_info.num_metapackages_outdated }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading"><h3>Unique</h3></div>
			<div class="panel-body">
				{{ repo_info.num_metapackages_unique }}
			</div>
		</div>
	</div>
</div>

<h2>Maintainers</h2>

<p>There are {{ repo_info.num_maintainers }} maintainers for this repository</p>

{% if repo_info.num_problems %}
<h2>Problems</h2>

<p>There are <a href="{{ url_for('repository_problems', repo=repo) }}">{{ repo_info.num_problems }} known problems</a> for packages in this repository</p>
{% endif %}

<h2>Graphs</h2>
<h3>Total metapackages</h3>
<img src="{{ url_for('repograph', repo=repo, type_='metapackages_total') }}">

<h3>Newest metapackages</h3>
<img src="{{ url_for('repograph', repo=repo, type_='metapackages_newest') }}">

<h3>Newest metapackages percentage</h3>
<img src="{{ url_for('repograph', repo=repo, type_='metapackages_newest_percent') }}">

<h3>Outdated metapackages</h3>
<img src="{{ url_for('repograph', repo=repo, type_='metapackages_outdated') }}">

<h3>Outdated metapackages percentage</h3>
<img src="{{ url_for('repograph', repo=repo, type_='metapackages_outdated_percent') }}">

<h3>Unique metapackages</h3>
<img src="{{ url_for('repograph', repo=repo, type_='metapackages_unique') }}">

<h3>Unique metapackages percentage</h3>
<img src="{{ url_for('repograph', repo=repo, type_='metapackages_unique_percent') }}">

<h3>Maintainers</h3>
<img src="{{ url_for('repograph', repo=repo, type_='maintainers') }}">

<h3>Problems</h3>
<img src="{{ url_for('repograph', repo=repo, type_='problems') }}">

</div>
{% endblock %}
