{% extends "layout.html" %}

{% block title %}
Statistics - {{ super() }}
{% endblock %}

{% block subheader %}
Statistics
{% endblock %}

{% block content %}

<table>
    <tr>
        <th style="text-align: right">Repository</th>
        <th>Total packages</th>
        <th>Up to date</th>
        <th>% up to date</th>
        <th>Outdated</th>
        <th>% outdated</th>
        <th>Ignored</th>
        <th>% ignored</th>
        <th>Last updated</th>
    </tr>
    {% for reponame in reponames|sort %}
    <tr>
        <td style="text-align: right">{{ repometadata[reponame].desc }}</td>
        <td style="text-align: center"><span class="total">{{ repostats[reponame].num_packages }}</span></td>
        <td style="text-align: center"><span class="version good">{{ repostats[reponame].num_packages_newest }}</span></td>
        <td style="text-align: center"><span class="version good">{{ (repostats[reponame].num_packages_newest / (repostats[reponame].num_packages|default(1,true)) * 100.0) | round(1) }}%</span></td>
        <td style="text-align: center"><span class="version bad">{{ repostats[reponame].num_packages_outdated }}</span></td>
        <td style="text-align: center"><span class="version bad">{{ (repostats[reponame].num_packages_outdated / (repostats[reponame].num_packages|default(1,true)) * 100.0) | round(1) }}%</span></td>
        <td style="text-align: center"><span class="version ignore">{{ repostats[reponame].num_packages_ignored }}</span></td>
        <td style="text-align: center"><span class="version ignore">{{ (repostats[reponame].num_packages_ignored / (repostats[reponame].num_packages|default(1,true)) * 100.0) | round(1) }}%</span></td>
        <td style="text-align: center"><span class="">{{ repostats[reponame].last_update.astimezone().strftime("%Y-%m-%d %H:%M %Z") }}</span></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
