{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ super() }}: statistics{% endblock %}
{% block header %}Statistics{% endblock %}

{% block content %}
<div class="container">

<h2>Repository statistics</h2>

<p>Total known metapackages: <b>{{ num_metapackages }}</b></p>

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-right" rowspan="2">Repository</th>
			<th class="text-center" colspan="8">Metapackages</th>
			<th class="text-center" colspan="4">Packages</th>
			<th class="text-center" rowspan="2">Updated</th>
		</tr>
		<tr>
			<th class="text-center">Total</th>
			<th class="text-center" colspan="3">Up to date in repo/total</th>
			<th class="text-center" colspan="2">Outdated</th>
			<th class="text-center" colspan="2">Unique</th>

			<th class="text-center">Total</th>
			<th class="text-center">Newest</th>
			<th class="text-center">Old</th>
			<th class="text-center">Ignored</th>
		</tr>
	</thead>
	<tbody>
	{% for repostat in repostats|sort(attribute='num_metapackages_newest', reverse=True) %}
		<tr>
			<th class="text-right">
				{{- macros.repository_link(repostat.name) -}}
				{%- if loop.index == 1 -%}
					<sup><div class="medal medal-gold" title="1st place by number of metapackages up to date"></span></sup>
				{%- elif loop.index == 2 -%}
					<sup><div class="medal medal-silver" title="2nd place by number of metapackages up to date"></span></sup>
				{%- elif loop.index == 3 -%}
					<sup><div class="medal medal-bronze" title="3rd place by number of metapackages up to date"></span></sup>
				{%- endif -%}
			</th>

			<td class="text-center" title="Total number of metapackages in this repository"><b>{{ repostat.num_metapackages }}</b></td>

			<td class="text-center version-cell version-big version-newest">
				<a href="{{ url_for('metapackages_in_repo', repo=repostat.name) }}">
					{{ repostat.num_metapackages_newest }}
				</a>
			</td>
			<td class="text-center version-cell version-big version-newest">
				<a href="{{ url_for('metapackages_in_repo', repo=repostat.name) }}">
					{{macros.safe_percent(repostat.num_metapackages_newest, repostat.num_metapackages) }}
				</a>
			</td>
			<td class="text-center version-cell version-big version-newest">
				<a href="{{ url_for('metapackages_in_repo', repo=repostat.name) }}">
					{{macros.safe_percent(repostat.num_metapackages_newest, num_metapackages) }}
				</a>
			</td>

			<td class="text-center version-cell version-big version-outdated">
				<a href="{{ url_for('metapackages_outdated_in_repo', repo=repostat.name) }}">
					{{ repostat.num_metapackages_outdated }}
				</a>
			</td>
			<td class="text-center version-cell version-big version-outdated">
				<a href="{{ url_for('metapackages_outdated_in_repo', repo=repostat.name) }}">
					{{ macros.safe_percent(repostat.num_metapackages_outdated, repostat.num_metapackages) }}
				</a>
			</td>

			<td class="text-center version-cell version-big version-unique">
			{% if repometadata[repostat.name].shadow %}
				<span title="This is a shadow repo, e.g. unique packages in it are ignored">n/a</span>
			{% else %}
				<a href="{{ url_for('metapackages_unique_in_repo', repo=repostat.name) }}">
					{{ repostat.num_metapackages_unique }}
				</a>
			{% endif %}
			</td>
			<td class="text-center version-cell version-big version-unique">
			{% if repometadata[repostat.name].shadow %}
				<span title="This is a shadow repo, e.g. unique packages in it are ignored">n/a</span>
			{% else %}
				<a href="{{ url_for('metapackages_unique_in_repo', repo=repostat.name) }}">
					{{ macros.safe_percent(repostat.num_metapackages_unique, repostat.num_metapackages) }}
				</a>
			{% endif %}
			</td>

			<td class="text-center">{{ repostat.num_packages }}</td>
			<td class="text-center version-cell version-big version-newest">{{ repostat.num_packages_newest }}</td>
			<td class="text-center version-cell version-big version-outdated">{{ repostat.num_packages_outdated }}</td>
			<td class="text-center version-cell version-big version-ignored">{{ repostat.num_packages_ignored }}</td>

			<td class="text-center">
			{% if repostat.last_update_utc %}
				{% set minutes_since_update = (repostat.since_last_update.total_seconds() / 60) | int %}
				<time datetime="{{ repostat.last_update_utc.strftime("%Y-%m-%dT%H:%M:%SZ") }}">
				{% if minutes_since_update >= 1 %}
					{{ minutes_since_update }} minute(s) ago
				{% else %}
					just now
				{% endif %}
				</time>
			{% else %}
				never
			{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div> {#- container #}
{% endblock %}
