<ul>
	<li><b>Linux repositories:</b> Alpine, ALT, Antergos, Arch and AUR, Calculate, CentOS, CRUX, Debian, Deepin, EPEL, Fedora, Gentoo, Guix, GoboLinux, KaOS, LEDE, Linuxbrew, Mageia, Manjaro, Mint, MX Linux, Nix, OpenMandriva, OpenSUSE, OpenWrt, Parabola, PCLinuxOS, Rosa, Sabayon, SlackBuilds, Ubuntu</li>
	<li><b>*BSD repositories:</b> DragonFly DPorts, FreeBSD ports, OpenBSD packages, pkgsrc, Ravenports</li>
	<li><b>Third party repositories:</b> GetDeb, KDE neon, some Gentoo overlays</li>
	<li><b>Other *nix repositories:</b> Homebrew, OpenIndiana, MacPorts</li>
	<li><b>And non-*nix repositories:</b> Chocolatey, F-Droid, HaikuPorts, MSYS2, YACP</li>
	<li><b>Upstream module collections:</b> CPAN, CRAN, Hackage, PyPi, RubyGems</li>
	<li><b>F/OSS news sites:</b> DistroWatch, freshcode.club, libregamewiki</li>
</ul>
