{% extends "layout.html" %}

{% block title %}{{ super() }}: about{% endblock %}
{% block header %}About{% endblock %}

{% block content %}
<div class="container">

<article>

<p>Repology is a service which tracks and compares package versions in more than 120 package repositories.</p>

<h3>Purpose</h3>

<ul>
	<li>For package/port maintainers:
		<ul>
			<li>Discover new releases of software you maintain packages for</li>
			<li>Find new projects to package</li>
			<li>Get in touch with fellow maintainers to improve packages together</li>
			<li>Keep package naming and versioning schemes in sync to other repos for your and your user's convenience</li>
			<li>Fix problems detected by repology, such as broken links</li>
		</ul>
	</li>
	<li>For software authors:
		<ul>
			<li>Keep track of where and how well your project is packaged</li>
			<li>Keep in touch with your product package maintainers</li>
		</ul>
	</li>
	<li>For users:
		<ul>
			<li>Discover new releases of software you use</li>
			<li>Pick distribution most suitable for you, in terms of package quantity, freshness or stability</li>
			<li>Keep in touch with maintainers of software you use</li>
		</ul>
	</li>
</ul>

<h3>Supported repositoroes</h3>

{% include "supported_repos.html" %}

<h3>How does it work?</h3>

<p>First, repology fetches and parses available sources of data on
packages. There is a built-in set of fetchers and parsers for many
types of sources, such as text index files, git repositories, web
pages and JSON API output.</p>

<p>After raw package data is obtained from all available sources,
it is aggregated per upstream project. By default, package names
are used to aggregate packages, and though it works fine for most
cases, real world data contains inconsincies, so first an elaborate
ruleset is used to handle inconsistencies specially. For instance,
rules allow to merge packages with different names into a single
project (for example, <b>firefox</b>, <b>firefox-lts</b> and
<b>firefox43</b> into a single <b>firefox</b>), or, instead, split
packages with a same name into multiple project (for example,
<b>clementine</b> may be either a player or window manager, which
are unrelated projects).</p>

<p>Last, for each project versions are compared with a custom
general algorithm, and each package is classified by its version.</p>

{% include "versionclass_list.html" %}

<p>Ruleset is also used to mark ignored and devel versions</p>

<h3>Updates</h3>

<p>The repository data and the website are updated hourly.</p>

<h3>Development</h3>

<p>Repology is developed on <a href="https://github.com/repology/repology">GitHub</a>. <a href="https://github.com/repology/repology/issues">Issues</a> and <a href="https://github.com/repology/repology/pulls">pull requests</a> are welcome.</p>

<p>Junior tasks include proofreading English texts (README, html templates), finding more mismatched packages and adding name transformation rules for them.</p>

</article>

</div>
{% endblock %}
