{% extends "layout.html" %}

{% block title %}Adding a repository to Repology{% endblock %}
{% block header %}Adding a repository{% endblock %}

{% block content %}
<div class="container">

<article>

<p>This page explains how support for a new repository can be added to Repology.</p>

<h2>1. Check data compatibility</h2>

<p>There are a few requirements to the data so it's usable in Repology.</p>

<p>Repology works with any data source (it doesn't even have to be
a repository, news sites and catalogues are possible too) which
provides package/project <b>names</b> and <b>versions</b>. More
fields would be useful, but are not required. Since the data is to
be compared to other repositories and sources, it needs to be
compatible.</p>

<ul><li>For formats which do not already provide <b>version</b> and
<b>name</b> in separate fields, it should be possible to separate
these. For instance <code>liblqr-1-0.4.2</code> is ambiguous and may
be split as either <code>liblqr 1-0.4.2</code> or <code>liblqr-1
0.4.2</code>, which may only be done in an unambiguous way it it's
explicitly stated that either <b>name</b> or <b>version</b> may
never contain dashes.</li></ul>

<p><b>Versions</b> should follow upstream versioning scheme and
allow easy extraction thereof. This means:</p>

<ul>
	<li>
		No trimming of version components. E.g. <code>1.2.3alpha4</code>
		should not lose <code>alpha4</code> component.
	</li>
	<li>
		No incompatible changes to version scheme. E.g.
		<code>1.2.3alpha4</code> should not become
		<code>1.2.3.a.4</code>, <code>2.04</code> should not become
		<code>2.04000000</code>, <code>1.4.0-rc5</code> should not
		become <code>1.4.0.5</code>. Still, many modifications are
		allowed, for instance it's OK to change version component
		separators (<code>1-2_3</code> vs. <code>1.2.3</code>). See <a
		href="https://github.com/repology/libversion">libversion
		documentation</a> for details or ask.
	</li>
	<li>
		Repository-specific additional version components (such as
		package epoch and revisions), should be easily trimmable. That
		is, if <code>1:2.3.4_5</code> denotes upstream version
		<code>2.3.4</code>, epoch 1 and revision 5, it should be
		guaranteed that <code>:</code> and <code>_</code> cannot be
		encountered in the version and we can safely split by them.
	</li>
	<li>
		No unrelated appendages, such as appending version or name of
		another product (<code>zfs 0.7.12-4.18.20</code>, where
		<code>4.18.20</code> is version of kernel, not related to
		version of zfs), or branch name (<code>wine
		3.14-staging</code>).
	</li>
	<li>
		Obviously, no fake versions which were not officially released
		by upstream. Note that mention of a version in upstream code or
		build system does not make it official (it's common to bump
		version right after the release). That is, if the latest
		official version is <code>1.2.3</code>, even if you package much
		newer snapshot you may not call it <code>1.2.4</code> or
		<code>1.2.4~whatever</code>. But see next item.
	</li>
	<li>
		Snapshot are allowed, being necessary evil, but it's preferred
		that single distinguishable scheme is used for them all over the
		repository. <code>1.2.3.YYYYMMDD</code> scheme is common, but it
		can be <a href="https://github.com/repology/repology/issues/345">better</a>.
	</li>
</ul>

<p><b>Names</b>:<p>

<ul>
	<li>
		Should be short project names as used in URLs, distfiles,
		repository and obviously package names, such as
		<code>firefox</code>, <code>clementine</code>, or
		<code>gnome-games</code>, but not in namespaced
		(<code>org.gnome.games</code>) or extended "human readable"
		(<code>Firefox Web Browser</code>) formats.
	</li>
	<li>
		If prefixes/suffixes are common in your repository (for example,
		<code>libogg</code> may be split into <code>libogg0</code>,
		<code>libogg-dev</code>, <code>libogg-dbg</code>,
		<code>libogg-doc</code>), it should be possible to extract
		original project name. You could either provide an information
		on source packages or build recipes, while the split only
		applies to binary packages generated from them, or you may
		provide an additional field stating the project or source
		package/recipe name.
	</li>
	<li>
		Perl/python/ruby/php/node.js/haskell/r/rust and other modules
		should be distinguishable from each other and other projects.
		For instance, there are C library, Haskell, PHP, Python, R, Ruby
		and Rust modules named <code>semver</code>, and repology puts
		each set of modules into its own namespace (e.g.
		<code>haskell:semver</code>). This should work for newly added
		repositories too. Common ways to distinguish modules is by
		package naming pattern (like <code>python-semver</code>,
		<code>py3-semver</code>), category (like Gentoo's
		<code>dev-php/semver</code>), or additional field in your data.
	</li>
</ul>

<p>Repology has powerful name and version transformation, normalization and
blacklisting rules, so it's easy to normalize or ignore a few individual items,
or global features which follow a defined pattern. However if the only way to
normalize a repository is to add a lot of individual rules for for substantial
subset of packages (most common reason for this is indistinguishable modules, as
explained above), such repository is not acceptable. We suggest to reconsider
naming scheme (which would benefit the repository too by preventing package name
conflicts and ambiguities), in this case.</p>

<h2>2. Publish the data</h2>

<p>Repository needs data on packages in some machine readable format.</p>

<p>Note that this does not include any form of executable scripts, so directly
parsing bash recipes or Makefiles is not supported - if your repository is based
on something like that you'll have to parse them on your infrastructure and
provide ready to use dump.</p>

<p>Repology already supports <a href="https://github.com/repology/repology/tree/master/repology/parsers/parsers">a lot</a>
of formats, including ones used by well known package managers (such as
apt and yum/dnf), and you may already have on of these, but it's still highly
preferred to have a separate custom dump, as it would allow more exposing more
data, updating and extending it independently from your package repository.</p>

<p>The preferred format is single file <a href="http://json.org/">JSON</a>
because of its flexibility, simplicity, and wide support. The file may be
compressed.</p>

<p>The schema is free-form - anything you find convenient which does the job of
reflecting your repository structure well. We intentionally encourage you to
publish data not specifically for Repology, but <b>for any consumer</b> which
may be Repology, or some other website, project or tool, generic or dedicated to
monitoring this specific repository. The presence of such dump may as well
encourage new tools and projects in your own community.</p>

<p>You're free to include as much data as possible into the dump. Even if some
fields are not used by Repology right now, they may be supported in future, or
may be directly usable by other consumers.</p>

<p>Here's a list of fields Repology supports right now in addition to mandatory
package <b>name</b> and <b>version</b>:</p>
<ul>
	<li>One-line description of the package (may be dubbed as «summary» or «comment»).</li>
	<li>Package maintainer(s).</li>
	<li>Homepage URL(s) for the package.</li>
	<li>Download URL(s) for the package.</li>
	<li>License information.</li>
	<li>Package category (may dubbed as «group» or «tags»).</li>
</ul>

<p>Here's an incomplete list of what could be supported in future:</p>
<ul>
	<li>Package architecture.</li>
	<li>Information in dependencies.</li>
	<li>Information on patches applied in specific repository, or other changes against upstream.</li>
	<li>Information on vulnerabilities, CPE entry.</li>
	<li>Extended information on upstream, such as GitHub account/project.</li>
</ul>

<h3>Examples</h3>

<p>A generic dump format may look like this:</p>

<pre>
[
    {
        <b>"name": "nginx",</b>
        <b>"version": "1.15.5",</b>
        "summary": "High performance web server and reverse proxy server",
        "maintainer": "somebody@somewhere.com",
        "license": "BSD-2-Clause",
        "download": "https://nginx.org/download/nginx-1.15.5.tar.gz",
        "homepage": "http://nginx.org/",
        "category": "www",
        &lt;possibly more fields&gt;
    },
    ...
]
</pre>

<p>You may want to provide some metadata on a whole repository, or list packages
as a dictionary (assuming keys are unique). Use arrays for fields which may
contain multiple values (do not list multiple values in a single string).</p>

<pre>
{
    "repository_name": "My cool repo",
    "num_packages": 12345,
    "last_update": "2018-11-02T10:20:30Z",
    "packages": {
        <b>"nginx"</b>: {
            <b>"version": "1.15.5",</b>
            "summary": "High performance web server and reverse proxy server",
            "maintainers": ["somebody@somewhere.com", "somebody@other.com"],
            "licenses": {"and": ["BSD-2-Clause", "GPLv2+"]},
            "downloads": [
                "https://nginx.org/download/nginx-1.15.5.tar.gz",
                "https://my-own-mirror.org/nginx/download/nginx-1.15.5.tar.gz"
            ],
            "homepages": [
                "http://nginx.org/",
                "https://web.archive.org/web/20181102070459/http://nginx.org/"
            ],
            "categories": ["Servers/HTTP", "Proxy/HTTP", "Proxy/Generic", "Proxy/SMTP"],
            &lt;possibly more fields&gt;
        },
        ...
    }
}
</pre>

<p>A couple of ways of handling subpackages, package variants/flavors, or source/binary packages dichotomy:</p>

<pre>
[
    {
        "name": "nginx",
        "version": "1.15.5",
        "subpackages": [
            {
                "name": "nginx-dev"
                &lt;more fields specific to subpackage&gt;
            },
            {
                "name": "nginx-extras"
                &lt;more fields specific to subpackage&gt;
            }
        ],
        "maintainer": "somebody@somewhere.com",
        &lt;more fields&gt;
    },
    ...
]
</pre>

<pre>
[
    {
        "name": "nginx-dev",
        "version": "1.15.5",
        <b>"base": "nginx",</b>
        &lt;more fields&gt;
    },
    {
        "name": "nginx-extras",
        "version": "1.15.5",
        <b>"base": "nginx",</b>
        &lt;more fields&gt;
    },
    ...
]
</pre>

<p>The former is preferred, as it's more explicit, allows to publish information
related to both source and binary packages without duplication.</p>

<h2>3. Add support to repology</h2>

<h3>Easy way</h3>

<p>Just file an issue on <a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}/issues">GitHub</a>.</p>

<h3>Hard way</h3>

<p>If you feel adventurous, you may prepare a pull request yourself.
In general, a new repository support would consist of 3 things:</p>

<ul>
	<li>
		Repository config file. This fully describes the repository,
		e.g. the name, URLs, how to fetch and parse it. Sorry, not
		documentation on the format yet - see
		<a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}/tree/master/repos.d">existing repositories</a>
		as examples, don't hesitate asking.
	</li>
	<li>
		Parser class, which converts the data you've published into
		per-package entries in Repology. See
		<a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}/tree/master/repology/parsers/parsers">existing parsers</a>
		as examples. If you're publishing JSON as recommended,
		parsing would be more than trivial, see particularly good
		examples:
		<a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}/blob/master/repology/parsers/parsers/homebrew.py">Homebrew</a>,
		<a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}/blob/master/repology/parsers/parsers/ravenports.py">Ravenports</a>,
		<a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}/blob/master/repology/parsers/parsers/slitaz.py">SliTaz</a>,
		<a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}/blob/master/repology/parsers/parsers/termux.py">Termux</a>.
	</li>
	<li>
		Very likely, some
		<a href="{{ config['REPOLOGY_RULES_REPO_URL'] }}/blob/master/500.wildcard.yaml">global rules</a>,
		like for normalizing module naming patterns in your repository.
		A handful of rules for individual packages will likely be needed
		too, but you generally need to run repology instance to discover
		these, and this is out of this page's scope. See
		<a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}/blob/master/docs/RUNNING.md">documentation</a>
		if still interested.
	</li>
</ul>

</article>

</div>
{% endblock %}
