{% extends "admin.html" %}
{% import "macros.html" as macros %}

{% block title %}Update diagnostics - Repology{% endblock %}
{% block header %}Update diagnostics{% endblock %}

{% block content %}
<div class="container">

<table class="table table-striped">
	<thead>
		<tr>
			<th class="text-right" rowspan="2">Repository</th>
			<th class="text-center" colspan="3">Fetch</th>
			<th class="text-center" colspan="3">Parse</th>
		</tr>
		<tr>
			<th class="text-center">Duration</th>
			<th class="text-center">CPU</th>
			<th class="text-center">MEM</th>
			<th class="text-center">Duration</th>
			<th class="text-center">CPU</th>
			<th class="text-center">MEM</th>
		</tr>
	</thead>
	<tbody>
	{% for repo in repos %}
		<tr id="{{ repo.name }}">
			<td class="text-right"><a href="{{ url_for('repository', repo=repo.name) }}">{{ repometadata[repo.name].desc }}</a></td>

			{% if repo.fetch_duration and repo.fetch_utime %}
			<td class="text-center"><b><a href="{{ url_for('log', run_id=repo.fetch_run_id) }}">{{ macros.format_time_interval_short(repo.fetch_duration) }}</a></b></td>
			<td class="text-center"><b>{{ macros.format_time_interval_short(repo.fetch_utime + repo.fetch_stime) }}</b> (<b>{{ (100.0 * (repo.fetch_utime + repo.fetch_stime) / repo.fetch_duration) | int }}</b>%)</td>
			<td class="text-center">{% if not repo.fetch_maxrss_reliable %}<{{ (repo.fetch_maxrss / 1024.0) | round(2) }}{% else %}<b>{{ (repo.fetch_maxrss_reliable / 1024.0) | round(2) }}</b>{% endif %}MB</td>
			{% else %}
			<td class="text-center">-</td>
			<td class="text-center">-</td>
			<td class="text-center">-</td>
			{% endif %}

			{% if repo.parse_duration and repo.parse_utime %}
			<td class="text-center"><b><a href="{{ url_for('log', run_id=repo.parse_run_id) }}">{{ macros.format_time_interval_short(repo.parse_duration) }}</a></b></td>
			<td class="text-center"><b>{{ macros.format_time_interval_short(repo.parse_utime + repo.parse_stime) }}</b> (<b>{{ (100.0 * (repo.parse_utime + repo.parse_stime) / repo.parse_duration) | int }}</b>%)</td>
			<td class="text-center">{% if not repo.parse_maxrss_reliable %}<{{ (repo.parse_maxrss / 1024.0) | round(2) }}{% else %}<b>{{ (repo.parse_maxrss_reliable / 1024.0) | round(2) }}</b>{% endif %}MB</td>
			{% else %}
			<td class="text-center">-</td>
			<td class="text-center">-</td>
			<td class="text-center">-</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

</div>
{% endblock %}
