{% extends "admin.html" %}
{% import "macros/projects_table.html" as projects_table %}

{% block title %}Redirects admin - Repology{% endblock %}
{% block header %}Redirects admin{% endblock %}

{% block content %}
<div class="container">

<p>Allows you to manually create project redirect, or list existing
redirects (by omitting target name). Note that redirect will only
work of project is not found.</p>

<form class="form-horizontal" action="{{ url_for_self() }}" method="POST">
	<div class="form-group">
		<label for="fromrepo" class="col-sm-2 control-label">Source (old) name</label>
		<div class="col-sm-8">
			<input class="form-control" id="oldname" name="oldname" value="{{ oldname }}">
		</div>
	</div>
	<div class="form-group">
		<label for="fromrepo" class="col-sm-2 control-label">Target (new) name</label>
		<div class="col-sm-8">
			<input class="form-control" id="newname" name="newname">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary" name="action" value="addlist">Add/list</button>
			<button type="submit" class="btn btn-primary" name="action" value="remove">Remove</button>
		</div>
	</div>
</form>

{% if oldname %}

<h2>Exising redirects from <a href="{{ url_for('project_versions', name=oldname) }}">{{ oldname }}</a></h2>

{{ projects_table.projects_table(metapackages, metapackagedata) }}

{% endif %}

</div>
{% endblock %}
