{% extends "layout.html" %}

{% block extrameta %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block title %}Admin area - Repology{% endblock %}
{% block header %}Admin area{% endblock %}

{% block preheader %}
{% if session.admin %}
<form class="form-inline pageheader-right" action="{{ url_for("admin") }}" method="POST">
	<button type="submit" class="btn btn-default">Logout</button>
</form>
<div class="btn-group pageheader-right">
	<a href="{{ url_for("admin_reports_unprocessed") }}" class="btn btn-default{% if request.endpoint == "admin_reports_unprocessed" %} active{% endif %}">Unprocessed reports</a>
	<a href="{{ url_for("admin_reports_recent") }}" class="btn btn-default{% if request.endpoint == "admin_reports_recent" %} active{% endif %}">Recent reports</a>
	<a href="{{ url_for("admin_updates") }}" class="btn btn-default{% if request.endpoint == "admin_updates" %} active{% endif %}">Updates</a>
	<a href="{{ url_for("admin_redirects") }}" class="btn btn-default{% if request.endpoint == "admin_redirects" %} active{% endif %}">Redirects</a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">

{% if session.admin %}
<p>Administrative access granted</p>
{% else %}
<form class="form-inline" action="{{ url_for_self() }}" method="POST">
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>
{% endif %}

</div>
{% endblock %}
