{% extends "admin.html" %}
{% import "macros.html" as macros %}

{% block title %}Reports admin - Repology{% endblock %}
{% block header %}Reports admin{% endblock %}

{% block content %}
<div class="container">

{% for report in reports %}
<div class="panel {% if report.accepted is none %}panel-default{% elif report.accepted %}panel-success{% else %}panel-danger{% endif %}">
	<div class="panel-heading">
		<b><a href="{{ url_for('metapackage_versions', name=report.effname) }}">{{ report.effname }}</a></b> - {{ macros.format_time_interval(report.created_ago) }} ago by <b>{{ report.client }}</b>,
		{% if report.accepted is none %}not processed yet{% elif report.accepted %}accepted{% else %}rejected{% endif %}
	</div>
	<div class="panel-body"><b>Flags:</b> {% if report.need_verignore %}<b>ignore</b>{% endif %} {% if report.need_split %}<b>split</b>{% endif %} {% if report.need_merge %}<b>merge</b>{% endif %}
		{% if report.comment %}
		<p><b>Comment:</b>
			{% for line in report.comment.split('\n') -%}
			<br>{{ line }}
			{% endfor %}
		</p>
		{% endif %}
		<form action="{{ url_for_self() }}" method="POST">
			<input type="hidden" name="id" value="{{ report.id }}">
			<div class="form-group">
				<textarea class="form-control" id="reply" name="reply" rows="2">{% if report.reply %}{{ report.reply }}{% endif %}</textarea>
			</div>
			<button type="submit" class="btn btn-success" name="action" value="accept">Accept</button>
			<button type="submit" class="btn btn-danger" name="action" value="reject">Reject</button>
			<button type="submit" class="btn btn-default" name="action" value="reset">Leave unprocessed</button>
			<button type="submit" class="btn btn-default" name="action" value="delete">Delete</button>
		</form>
	</div>
</div>
{% endfor %}

</div>
{% endblock %}
