{% extends "layout.html" %}

{% block title %}API - Repology{% endblock %}
{% block header %}API{% endblock %}

{% block content %}
<div class="container">

<article>

<h3>Introduction</h3>

<p>API always returns a list of <em>packages</em>. <em>Package</em> is a dictionary of the following format:</p>

<pre>
{
	"repo": "freebsd",
	"name": "firefox",
	"keyname": "www/firefox",
	"visiblename": "www/firefox",
	"version": "50.1.0",
	"origversion": "50.1.0_4,1",
	"status": "newest",
	"summary": "Widely used web browser",
	"categories": ["www"],
	"licenses": ["GPLv2+"],
	"maintainers": ["gecko@FreeBSD.org"],
	"www": ["http://www.mozilla.com/firefox"],
	"downloads": ["http://download.cdn.mozilla.net/pub/firefox/releases/50.1.0/source/firefox-50.1.0.source.tar.xz"]
}
</pre>

<p>Fields are:</p>
<dl class="dl-horizontal">
	<dt>repo</dt><dd>name of repository for this package</dd>
	<dt>subrepo</dt><dd>name of subrepository (if applicable; for example, <em>main</em> or <em>contrib</em> or <em>non-free</em> for Debian)</dd>
	<dt>name</dt><dd>package name as in repository (if applicable; for instance, non-repository sources have no package names, but may have <b>keyname</b> instead)</dd>
	<dt>keyname</dt><dd>unique identifier of a package (if applicable; may be package path in repository file hierarchy, for instance)</dd>
	<dt>visiblename</dt><dd>package name as shown to the user by Repology</dd>
	<dt>version</dt><dd>package version (sanitized, as shown by repology) </dd>
	<dt>origversion</dt><dd>package version as in repository</dd>
	<dt>status</dt><dd>package status, one of <em>newest</em>, <em>devel</em>, <em>unique</em>, <em>outdated</em>, <em>legacy</em>, <em>rolling</em>, <em>noscheme</em>, <em>incorrect</em>, <em>untrusted</em>, <em>ignored</em></dd>
	<dt>summary</dt><dd>one-line description of the package</dd>
	<dt>categories</dt><dd>list of package categories</dd>
	<dt>licenses</dt><dd>list of package licenses</dd>
	<dt>maintainers</dt><dd>list of package maintainers</dd>
	<dt>www</dt><dd>list of package webpages</dd>
	<dt>downloads</dt><dd>list of package downloads</dd>
</dl>

<p>
Mandatory fields are <b>repo</b>, <b>name</b> and <b>version</b>, all other fields are optional.
</p>

<p><em>Project</em> is a group of related <em>packages</em> from different repositories (though it may contain multiple <em>packages</em> from the same repository). <em>Project</em> has its own name which is derived from <em>package</em> names. In most cases it's the same, but sometimes different <em>package</em> names are transformed into a single <em>project</em> name to coalesce differently named <em>packages</em> from different repositories.</p>

<p>API allows to request <em>packages</em> for a single <em>project</em> or for a range of <em>projects</em>.</p>

<h3>Single project</h3>

<p>Get list of <em>packages</em> for specific <em>project</em> (here, firefox):</p>
<pre>
{{ url_for('api_v1_project', name='firefox') }}
</pre>

<h3>Multiple projects</h3>

<p>The following requests return data for multiple <em>projects</em>
in form of <em>project</em> name → list of <em>packages</em>
dictionary. API returns no more than {{ per_page }} <em>projects</em>
per request. You may specify a start or an end of <em>project</em> names
range to request.</p>

<p>Get first {{ per_page }} projects:</p>
<pre>
{{ url_for('api_v1_projects') }}
</pre>

<p>Get first {{ per_page }} projects starting with <b>firefox</b> (inclusive):</p>
<pre>
{{ url_for('api_v1_projects', bound='firefox') }}
</pre>

<p>Get last {{ per_page }} projects up to <b>firefox</b> (inclusive):</p>
<pre>
{{ url_for('api_v1_projects', bound='..firefox') }}
</pre>

<p>You may iterate through all projects by using the last project name in the next
request</p>
<pre>
{{ url_for('api_v1_projects') }}  # returns '010editor' ... 'aaut'
{{ url_for('api_v1_projects', bound='aaut') }}  # returns 'aaut' ... 'acf-snort'
{{ url_for('api_v1_projects', bound='acf-snort') }}  # returns 'acf-snort' ... 'adinatha-fonts'
# ...
</pre>

<h3>Filtered projects</h3>

<p>API supports all the filters available on the website, so you can just
play with filters in the <a href="{{ url_for('projects') }}">website</a>
and then replace <code>{{ url_for('projects') }}</code> URL prefix with
<code>{{ url_for('api_v1_projects') }}</code> to get API output.</p>

<p>Supported filters are:</p>
<dl class="dl-horizontal">
	<dt>search</dt><dd>project name substring to look for</dd>
	<dt>maintainer</dt><dd>return projects maintainer by specified person</dd>
	<dt>category</dt><dd>return projects with specified category</dd>
	<dt>inrepo</dt><dd>return projects present in specified repository</dd>
	<dt>notinrepo</dt><dd>return projects absent in specified repository</dd>
	<dt>repos</dt><dd>return projects present in specified number of repositories (exact values and open/closed ranges are allowed, e.g. <code>1</code>, <code>5-</code>, <code>-5</code>, <code>2-7</code></dd>
	<dt>families</dt><dd>return projects present in specified number of repository families (for instance, use <code>1</code> to get unique projects)</dd>
	<dt>repos_newest</dt><dd>return projects which are up to date in specified number of repositories</dd>
	<dt>families_newest</dt><dd>return projects which are up to date in specified number of repository families</dd>
	<dt>newest</dt><dd>return newest projects only</dd>
	<dt>outdated</dt><dd>return outdated projects only</dd>
	<dt>problematic</dt><dd>return problematic projects only</dd>
</dl>

<p>Example: get unique outdated projects not present in FreeBSD maintainer by foo@bar.com</p>
<pre>
{{ url_for('api_v1_projects', notinrepo='freebsd', maintainer='foo@bar.com', families=1, outdated=1) }}
</pre>

<h3>Problems</h3>

<p>Get problems for specific repository or maintainer:</p>
<pre>
{{ url_for('api_v1_repository_problems', repo='freebsd') }}
{{ url_for('api_v1_maintainer_problems', maintainer='ports@freebsd.org')|replace('%40', '@') }}
</pre>

Output is an array of entries of the following format:

<pre>
{
	"repo": "freebsd",
	"name": "abby",
	"effname": "abby",
	"maintainer": "ports@freebsd.org",
	"problem": "Homepage link \"https://code.google.com/archive/p/abby/\" points to Google Code which was discontinued. The link should be updated (probably along with download URLs). If this link is still alive, it may point to a new project homepage."
}
</pre>

<p>Fields are:</p>
<dl class="dl-horizontal">
	<dt>repo</dt><dd>repository name</dd>
	<dt>name</dt><dd>package name as in repository</dd>
	<dt>effname</dt><dd>repology project name</dd>
	<dt>maintainer</dt><dd>package maintainer associated with the problem; may be null; note that if there are multiple package maintainers, problem is duplicated for each one</dd>
	<dt>problem</dt><dd>textual description of the problem</dd>
</dl>

</article>

</div>
{% endblock %}
