{% extends "layout.html" %}
{#% import "macros.html" as macros %#}

{% block title %}Repology{% endblock %}
{% block pageheader %}{% endblock %}

{% block content %}
<div class="container">
	<header class="jumbotron">
		<h1>Repology, the packaging hub</h1>
		<p>Repology monitors a huge number of
		<a href="https://en.wikipedia.org/wiki/Package_(package_management_system)">package</a>
		<a href="https://en.wikipedia.org/wiki/Software_repository">repositories</a> and other
		<a href="#repos-footnote">sources</a>
		comparing packages versions across them and gathering other information. Repology shows you in which
		repositories a given project is packaged, which version is the latest and which needs updating, who
		maintains the package, and other related information. Repology might be useful</p>

		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="panel-title">For package maintainers</h3>
					</div>
					<div class="panel-body">
						<ul class="list-jumbotron-items">
							<li>Discover new releases of software you maintain packages for</li>
							<li>Find new projects to package</li>
							<li>Get in touch with fellow maintainers to improve packages together</li>
							<li>Keep package naming and versioning schemes in sync to other repos</li>
							<li>Fix problems detected by repology, such as broken links</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="panel-title">For software authors</h3>
					</div>
					<div class="panel-body">
						<ul class="list-jumbotron-items">
							<li>Keep track of where and how well your project is packaged</li>
							<li>Keep in touch with your product package maintainers</li>
							<li>Use packaging badges like this one:
								<img class="jumbotron-badge" src="{{ url_for("static", filename="demobadge.v1.svg") }}" alt="Repology badge example">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="panel-title">For users</h3>
					</div>
					<div class="panel-body">
						<ul class="list-jumbotron-items">
							<li>Discover new releases of software you use</li>
							<li>Pick distribution most suitable for you, in terms of package quantity, freshness or stability</li>
							<li>Keep in touch with maintainers of software you use</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section>
		<h2>News highlights</h2>

		<div class="row">
			<div class="col-md-4">
				<ul class="list-unstyled">
					<li><time class="news-summary-time" datetime="2019-06-11">2019-06-11</time>
						added <a href="{{ url_for('repository', repo='just-install') }}">just-install</a> repository</li>
					<li><time class="news-summary-time" datetime="2019-06-11">2019-06-11</time>
						added <a href="{{ url_for('repository', repo='npackd_stable') }}">Npackd</a> repositories</li>
					<li><time class="news-summary-time" datetime="2019-06-04">2019-06-04</time>
						added <a href="{{ url_for('repository', repo='cygwin') }}">Cygwin</a> repository</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="list-unstyled">
					<li><time class="news-summary-time" datetime="2019-05-14">2019-05-14</time>
						added <a href="{{ url_for('repository', repo='mer_core_aarch64') }}">Mer Core</a> repository</li>
					<li><time class="news-summary-time" datetime="2019-04-30">2019-04-30</time>
						added <a href="{{ url_for('repository', repo='gnu_elpa') }}">GNU ELPA</a>, <a href="{{ url_for('repository', repo='melpa') }}">MELPA</a> repositories</li>
					<li><time class="news-summary-time" datetime="2019-04-26">2019-04-26</time>
						added <a href="{{ url_for('repository', repo='elrepo_el7') }}">ELRepo</a> repository</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="list-unstyled">
					<li><time class="news-summary-time" datetime="2019-04-26">2019-04-26</time>
						added more openSUSE <a href="{{ url_for('repository', repo='opensuse_emulators_tumbleweed') }}">re</a><a href="{{ url_for('repository', repo='opensuse_graphics_tumbleweed') }}">po</a><a href="{{ url_for('repository', repo='opensuse_multimedia_apps_tumbleweed') }}">si</a><a href="{{ url_for('repository', repo='opensuse_multimedia_libs_tumbleweed') }}">to</a><a href="{{ url_for('repository', repo='opensuse_network_tumbleweed') }}">ri</a><a href="{{ url_for('repository', repo='opensuse_science_tumbleweed') }}">es</a></li>
					<li><time class="news-summary-time" datetime="2019-04-12">2019-04-12</time>
						IPv6 status is now reported for links</li>
					<li><time class="news-summary-time" datetime="2019-02-15">2019-02-15</time>
						added <a href="{{ url_for('repository', repo='t2') }}">T2 SDE</a> repository</li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<h2>Quick navigation</h2>

		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						Search <b>packages</b>
					</div>
					<div class="panel-body">
						<form action="{{ url_for('projects') }}" method="GET">
							<div class="input-group">
								<input type="text" class="form-control" name="search" placeholder="e.g. &quot;firefox&quot;">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default">Go</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-footer">
						or <a href="{{ url_for('projects') }}">browse</a> list of all packages
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						Search <b>maintainers</b>
					</div>
					<div class="panel-body">
						<form action="{{ url_for("maintainers") }}" method="GET">
							<div class="input-group">
								<input type="text" class="form-control" name="search" placeholder="e.g. &quot;foo@bar.com&quot;">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default">Go</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-footer">
						or <a href="{{ url_for("maintainers") }}">browse</a> list of all maintainers
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						...or
					</div>
					<div class="panel-body">
						See some <a href="{{ url_for("maintainers") }}">statistics</a> and a list of all
						supported <a href="{{ url_for("repositories_statistics") }}">repositories</a>, and navigate
						to per-repository package lists from there.
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<h2>Top repositories</h2>

		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						By <b>total</b> number of packages
					</div>
					<div class="panel-body">
						<ol>
						{% for repostat in top_repos.by_total %}
							<li><a href="{{ url_for('repository', repo=repostat.name) }}">{{ repometadata[repostat.name].desc }}</a> ({{ repostat.value }})</li>
						{% endfor %}
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						By number of <b>non-unique</b> packages
					</div>
					<div class="panel-body">
						<ol>
						{% for repostat in top_repos.by_nonunique %}
							<li><a href="{{ url_for('repository', repo=repostat.name) }}">{{ repometadata[repostat.name].desc }}</a> ({{ repostat.value }})</li>
						{% endfor %}
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						By number of <b>fresh</b> packages
					</div>
					<div class="panel-body">
						<ol>
						{% for repostat in top_repos.by_newest %}
							<li><a href="{{ url_for('repository', repo=repostat.name) }}">{{ repometadata[repostat.name].desc }}</a> ({{ repostat.value }})</li>
						{% endfor %}
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						By <b>percentage</b> of fresh packages
					</div>
					<div class="panel-body">
						<ol>
						{% for repostat in top_repos.by_pnewest %}
							<li><a href="{{ url_for('repository', repo=repostat.name) }}">{{ repometadata[repostat.name].desc }}</a> ({{ repostat.value }})</li>
						{% endfor %}
						</ol>
					</div>
					<div class="panel-footer">
						<sup>*</sup>only repos with > 1000 packages
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<h2>Popular packages</h2>

		{% include "versionclass_legend.html" %}

		{% include "projects_table.html" %}

	</section>

	<section>
		<h2>Footnotes</h2>

		<p id="repos-footnote">
			* "a lot of package repositories and other sources" include:
		</p>

		{% include "supported_repos.html" %}
	<section>

</div> {# container #}
{% endblock %}
