{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block extrameta %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block title %}Link check status - Repology{% endblock %}
{% block header %}Link check status{% endblock %}

{%- macro format_status_code(code, ipver) -%}
{%- if code == -1 %}Unknown error {{ code }}

{%- elif code == -100 %}Connect timeout (60 seconds)
{%- elif code == -101 %}Invalid URL
{%- elif code == -102 %}Host manually blacklisted for being taken over by an unrelated entity

{%- elif code == -200 %}DNS error
{%- elif code == -201 %}DNS error: domain name not found
{%- elif code == -202 %}DNS error: no address record
{%- elif code == -203 %}DNS error: could not contact DNS servers
{%- elif code == -204 %}DNS error: timeout while contacting DNS servers

{%- elif code == -300 %}Connection refused
{%- elif code == -301 %}No route to host
{%- elif code == -302 %}Connection reset by peer
{%- elif code == -303 %}Network is unreachable
{%- elif code == -304 %}Server disconnected
{%- elif code == -306 %}Connection aborted
{%- elif code == -307 %}Address not available

{%- elif code == -400 %}Too many redirects (possibly, a redirect loop)
{%- elif code == -402 %}HTTP protocol error

{%- elif code == -500 %}SSL error
{%- elif code == -501 %}SSL error: certificate has expired
{%- elif code == -502 %}SSL error: certificate issued for different hostname
{%- elif code == -503 %}SSL error: self signed certificate
{%- elif code == -504 %}SSL error: self signed certificate in certificate chain
{%- elif code == -505 %}SSL error: incomplete certificate chain

{%- elif code >= 0 and code < 1000 %}HTTP {{ code }}
{%- else %}{{ code }}
{%- endif -%}
{%- endmacro -%}

{% block content %}
<div class="container">

<ul class="list-unstyled">
	<li>URL: <b><a href="{{ linkinfo.url }}">{{ linkinfo.url }}</a></b></li>
	<li>First seen: <b>{{ macros.format_absolute_time_sec(linkinfo.first_extracted) }}</b> (<b>{{ macros.format_time_interval(now() - linkinfo.first_extracted) }} ago</b>)</li>
	<li>Last seen: <b>{{ macros.format_absolute_time_sec(linkinfo.last_extracted) }}</b> (<b>{{ macros.format_time_interval(now() - linkinfo.last_extracted) }} ago</b>)</li>
	{% if linkinfo.last_checked is not none %}
	<li>Last checked:
		<b>{{ macros.format_absolute_time_sec(linkinfo.last_checked) }}</b>
		(<b>{{ macros.format_time_interval(now() - linkinfo.last_checked) }} ago</b>)</li>
	{% else %}
	<li>Not yet checked</li>
	{% endif %}
</ul>

{% if linkinfo.last_checked is not none %}

<h3>IPv4</h3>

<ul class="list-unstyled">
	<li>Last success:
	{% if linkinfo.ipv4_last_success is not none %}
		<b>{{ macros.format_absolute_time_sec(linkinfo.ipv4_last_success) }}</b>
		(<b>{{ macros.format_time_interval(now() - linkinfo.ipv4_last_success) }} ago</b>)
	{% else %}
		<b>never</b>
	{% endif %}
	</li>
	<li>Last failure:
	{% if linkinfo.ipv4_last_failure is not none %}
		<b>{{ macros.format_absolute_time_sec(linkinfo.ipv4_last_failure) }}</b>
		(<b>{{ macros.format_time_interval(now() - linkinfo.ipv4_last_failure) }} ago</b>)
	{% else %}
		<b>never</b>
	{% endif %}
	</li>
	<li>Status:
	{% if linkinfo.ipv4_success is none %}
		<b>-</b>
	{% elif linkinfo.ipv4_success and linkinfo.ipv4_permanent_redirect_target is not none %}
		<b class="link-redirect">permanent redirect</b> to <b><a href="{{ linkinfo.ipv4_permanent_redirect_target }}">{{ linkinfo.ipv4_permanent_redirect_target }}</a></b>
	{% elif linkinfo.ipv4_success %}
		<b class="link-ok">OK ({{ linkinfo.ipv4_status_code }})</b>
	{% else %}
		<b class="link-error">{{ format_status_code(linkinfo.ipv4_status_code) }}</b>
	{% endif %}
	</li>
</ul>

<h3>IPv6</h3>

<ul class="list-unstyled">
	<li>Last success:
	{% if linkinfo.ipv6_last_success is not none %}
		<b>{{ macros.format_absolute_time_sec(linkinfo.ipv6_last_success) }}</b>
		(<b>{{ macros.format_time_interval(now() - linkinfo.ipv6_last_success) }} ago</b>)
	{% else %}
		<b>never</b>
	{% endif %}
	</li>
	<li>Last failure:
	{% if linkinfo.ipv6_last_failure is not none %}
		<b>{{ macros.format_absolute_time_sec(linkinfo.ipv6_last_failure) }}</b>
		(<b>{{ macros.format_time_interval(now() - linkinfo.ipv6_last_failure) }} ago</b>)
	{% else %}
		<b>never</b>
	{% endif %}
	</li>
	<li>Status:
	{% if linkinfo.ipv6_success is none %}
		<b>-</b>
	{% elif linkinfo.ipv6_success and linkinfo.ipv6_permanent_redirect_target is not none %}
		<b class="link-redirect">permanent redirect</b> to <b><a href="{{ linkinfo.ipv6_permanent_redirect_target }}">{{ linkinfo.ipv6_permanent_redirect_target }}</a></b>
	{% elif linkinfo.ipv6_success %}
		<b class="link-ok">OK ({{ linkinfo.ipv6_status_code }})</b>
	{% else %}
		<b class="link-error">{{ format_status_code(linkinfo.ipv6_status_code) }}</b>
	{% endif %}
	</li>
</ul>

{% endif %}

</div>
{% endblock %}
