{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% import "macros/autorefresh.html" as _autorefresh with context %}

{% block extrameta %}
	<meta name="robots" content="noindex">
{% if not run.finish_ts %}
{{ _autorefresh.meta(5) }}
{% endif %}
{% endblock %}

{% block title %}Log viewer - Repology{% endblock %}
{% block header %}Log viewer:
	{% if run.successful == True %}<span class="text-success">successful</span>{% elif run.successful == False %}<span class="text-danger">failed</span>{% else %}ongoing{% endif %}
	{{ run.type }} for {{ repometadata[run.reponame].desc }}
{% endblock %}

{% block content %}
<div class="container">

{% if run.finish_ts %}
	<ul class="list-unstyled">
		<li>Started: <b>{{ macros.format_absolute_time_sec(run.start_ts) }}</b> (<b>{{ macros.format_time_interval(now() - run.start_ts) }} ago</b>)</li>
		<li>Finished: <b>{{ macros.format_absolute_time_sec(run.finish_ts) }}</b> (<b>{{ macros.format_time_interval(now() - run.finish_ts) }} ago</b>)</li>
		<li>Run time: <b>{{ macros.format_time_interval_short(run.finish_ts - run.start_ts) }}</b></li>
		<li>Lines: <b>{{ run.num_lines }}</b></li>
		<li{% if run.num_warnings %} class="text-warning"{% endif %}>Warnings: <b>{{ run.num_warnings }}</b></li>
		<li{% if run.num_errors %} class="text-danger"{% endif %}>Errors: <b>{{ run.num_errors }}</b></li>
	</ul>
{% else %}
	<p>Running for <b>{{ macros.format_time_interval(now() - run.start_ts) }}</b></p>

	{{ _autorefresh.toggler() }}
{% endif %}

<pre>
{% for line in lines -%}
{%- if line[1] == 'error' -%}<span class="text-danger">{%- elif line[1] == 'warning' %}<span class="text-warning">{%- endif -%}
{{ macros.format_absolute_time_sec(line[0]) }} {{ line[2] }}
{% if line[1] == 'error' or line[1] == 'warning' -%}</span>{%- endif -%}
{%- endfor %}
</pre>

</div>
{% endblock %}
