{%- macro timezone_abbr(datetime) -%}
	<span class="tzfix_zone"> ({{ tz.zone }})</span>
{%- endmacro -%}

{%- macro format_absolute_time(datetime) -%}
	<time class="tzfix_time" datetime="{{ datetime.astimezone(tz).isoformat('T', 'minutes') }}">{{ datetime.astimezone(tz).strftime('%Y-%m-%d %H:%M') }}</time>
{%- endmacro -%}

{%- macro format_absolute_time_sec(datetime) -%}
	<time class="tzfix_time_sec" datetime="{{ datetime.astimezone(tz).isoformat('T', 'seconds') }}">{{ datetime.astimezone(tz).strftime('%Y-%m-%d %H:%M:%S') }}</time>
{%- endmacro -%}

{%- macro repository_link(repo) -%}
{%- if repo in repometadata.active_names() -%}
	<a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a>
{%- else -%}
	<span class="legacy-repository">{{ repometadata[repo].desc }}</span>
{%- endif -%}
{%- endmacro -%}

{%- macro format_time_interval(value) -%}
	{%- with seconds = value.total_seconds() | int -%}
	{%- if seconds <= 1 -%}
		a second
	{%- elif seconds < 60 -%}
		{{ seconds }} seconds
	{%- elif seconds // 60 == 1 -%}
		a minute
	{%- elif seconds < 60 * 60 -%}
		{{ seconds // 60 }} minutes
	{%- elif seconds // (60 * 60) == 1 -%}
		an hour
	{%- elif seconds < 60 * 60 * 24 -%}
		{{ seconds // (60 * 60) }} hours
	{%- elif seconds // (60 * 60 * 24) == 1 -%}
		a day
	{%- elif seconds // (60 * 60 * 24) < 60 -%}
		{{ seconds // (60 * 60 * 24) }} days
	{%- elif seconds // (60 * 60 * 24) < 365 -%}
		{{ seconds // (60 * 60 * 24 * 30)}} months
	{%- elif seconds // (60 * 60 * 24 * 365) == 1 -%}
		more than a year
	{%- else -%}
		{{ seconds // (60 * 60 * 24 * 365) }} years
	{%- endif -%}
	{%- endwith -%}
{%- endmacro -%}

{%- macro format_time_interval_short(value) -%}
	{%- with seconds = value.total_seconds() | int -%}
	{%- if seconds < 60 -%}
		{{ seconds }}s
	{%- elif seconds < 60 * 60 -%}
		{{ seconds // 60 }}m
	{%- elif seconds < 60 * 60 * 24 -%}
		{{ seconds // (60 * 60) }}h
	{%- elif seconds // (60 * 60 * 24) < 365 -%}
		{{ seconds // (60 * 60 * 24) }}d
	{%- else -%}
		{{ seconds // (60 * 60 * 24 * 365) }}y
	{%- endif -%}
	{%- endwith -%}
{%- endmacro -%}

{%- macro package_link(package, text) -%}
	{%- if repometadata[package.repo].packagelinks -%}
		<a href="{{ repometadata[package.repo].packagelinks[0].url|pkg_format(package, escape_mode='url') }}">{{ text }}</a>
	{%- else -%}
		{{ text }}
	{%- endif -%}
{%- endmacro -%}

{%- macro link_status(link, link_statuses) -%}
	{%- if link in link_statuses -%}
	<sup class="link-status non-selectable"><a href="{{ url_for('link', url=link) }}" rel="nofollow">
			{%- if link_statuses[link].ipv4_success is none -%}
			{%- elif link_statuses[link].ipv4_success and link_statuses[link].ipv4_permanent_redirect_target is not none -%}
			<span class="link-redirect">4</span>
			{%- elif link_statuses[link].ipv4_success -%}
			<span class="link-ok">4</span>
			{%- else -%}
			<span class="link-error">4</span>
			{%- endif -%}
			{%- if link_statuses[link].ipv6_success is none -%}
			{%- elif link_statuses[link].ipv6_success and link_statuses[link].ipv6_permanent_redirect_target is not none -%}
			<span class="link-redirect">6</span>
			{%- elif link_statuses[link].ipv6_success -%}
			<span class="link-ok">6</span>
			{%- else -%}
			<span class="link-error">6</span>
			{%- endif -%}
	</a></sup>
	{%- endif -%}
{%- endmacro -%}

{%- macro safe_percent(value, total, round=1) -%}
	{%- if total <= 0 -%}
		-
	{%- elif round > 0 -%}
		{{ (value/total*100.0)|round(round) }}%
	{%- else -%}
		{{ (value/total*100.0)|int }}%
	{%- endif -%}
{%- endmacro -%}

{%- macro value_with_delta(value, old_value) -%}
	{%- if old_value is defined -%}
		{%- if value > old_value -%}
		<div class="popup-container">
			{{- value -}}
			<span class="popup-container-inner"><sup class="popup delta-positive">+{{ value - old_value }} in last week</sup></span></div>
		{%- elif value < old_value -%}
		<div class="popup-container">
			{{- value -}}
			<span class="popup-container-inner"><sup class="popup delta-negative">-{{ old_value - value }} in last week</sup></span></div>
		{%- else -%}
		{{- value -}}
		{%- endif -%}
	{%- else -%}
	{{- value -}}
	{%- endif -%}
{%- endmacro -%}
