{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}Maintainers turnover - Repology{% endblock %}
{% block header %}Maintainers turnover{% endblock %}

{% block content %}
<div class="container">

<div class="row">
	<div class="col-md-6">
		<h3>Maintainers recently added</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Added ago</th>
					<th>Maintainer</th>
				</tr>
			</thead>
			<tbody>
			{% for maintainer in added %}
				<tr>
					<td class="text-nowrap">{{ macros.format_time_interval(maintainer.ago) }} ago</td>
					<td>
						<a href="{{ url_for("maintainer", maintainer=maintainer.maintainer) }}">{{ maintainer.maintainer }}</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Maintainers recently removed</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Removed ago</th>
					<th>Maintainer</th>
				</tr>
			</thead>
			<tbody>
			{% for maintainer in removed %}
				<tr>
					<td class="text-nowrap">{{ macros.format_time_interval(maintainer.ago) }} ago</td>
					<td>{{ maintainer.maintainer }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div> {#- row #}

</div> {#- container #}
{% endblock %}
