{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}Maintainers list - Repology{% endblock %}
{% block header %}Maintainers{% endblock %}
{% block description %}Package maintainers listing{% endblock %}
{% block keywords %}{{ super()}}, maintainer, maintainers{% endblock %}

{% block content %}
<div class="container">

<nav>
	<div class="form-group">
		<form class="form-inline" action="{{ url_for_self(bound=None) }}" method="GET">
			<div class="btn-group">
			{% if search %}
				{% if maintainers %}
				<a href="{{ url_for_self(bound=(maintainers|first).maintainer+"..") }}" class="btn btn-default">Clear</a>
				{% else %}
				<a href="{{ url_for_self(bound=None) }}" class="btn btn-default">Clear</a>
				{% endif %}
			{% else %}
				<a href="{{ url_for_self(bound=None) }}" class="btn btn-default {% if firstpage %} disabled{% endif %}">&laquo;&laquo;</a>
				{% if maintainers %}
				<a href="{{ url_for_self(bound=".."+(maintainers|first).maintainer, search=search) }}" class="btn btn-default{% if firstpage %} disabled{% endif %}" rel="prev">&laquo;</a>
				<a href="{{ url_for_self(bound=(maintainers|last).maintainer+"..", search=search) }}" class="btn btn-default{% if lastpage %} disabled{% endif %}" rel="next">&raquo;</a>
				{% endif %}
				{% if maxmaintainer %}
				<a href="{{ url_for_self(bound=".."+maxmaintainer) }}" class="btn btn-default {% if lastpage %} disabled{% endif %}">&raquo;&raquo;</a>
				{% endif %}
			{% endif %}
			</div>
			<div class="input-group">
				<input class="form-control" type="text" name="search" value="{{ search|default('', true) }}" placeholder="Search maintainers">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default">Go</button>
				</div>
			</div>
		</form>
	</div>
</nav>

{% if maintainers %}
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th class="text-right" rowspan="2">Maintainer</th>
			<th class="text-center" rowspan="2">Most active in</th>
			<th class="text-center" colspan="6">Projects in "most active" repo</th>
			<th class="text-center" rowspan="2">Projects in<br>all repos</th>
			<th class="text-center" rowspan="2">Known for</th>
		</tr>
		<tr>
			<th class="text-center">Total</th>
			<th class="text-center" colspan="2">Newest</th>
			<th class="text-center" colspan="2">Outdated</th>
			<th class="text-center">Problematic</th>
		</tr>
	</thead>
	<tbody>
	{% for maintainer in maintainers %}
		<tr>
			<td class="text-right break-word">
				<a href="{{ url_for('maintainer', maintainer=maintainer.maintainer) }}">
					{{- maintainer.maintainer -}}
				</a>
			</td>
			<td class="text-center">
				<a href="{{ url_for('repository', repo=maintainer.bestrepo) }}">
					{{- repometadata[maintainer.bestrepo].desc -}}
				</a>
				{%- if maintainer.num_repos > 1 -%}
					<sup>+{{ maintainer.num_repos - 1 }}</sup>
				{%- endif %}
			</td>
			<td class="text-center total-cell">
				<a href="{{ url_for('projects', maintainer=maintainer.maintainer, inrepo=maintainer.bestrepo) }}">
					{{- maintainer.bestrepo_num_projects -}}
				</a>
			</td>
			{%- if maintainer.bestrepo_num_projects_newest -%}
			<td class="text-center version-cell version-big version-newest">
				<a href="{{ url_for('projects', maintainer=maintainer.maintainer, inrepo=maintainer.bestrepo, newest=1) }}">
					{{- maintainer.bestrepo_num_projects_newest -}}
				</a>
			</td>
			<td class="text-center version-cell version-big version-newest">
				<a href="{{ url_for('projects', maintainer=maintainer.maintainer, inrepo=maintainer.bestrepo, newest=1) }}">
					{{- macros.safe_percent(maintainer.bestrepo_num_projects_newest, maintainer.bestrepo_num_projects) -}}
				</a>
			</td>
			{%- else -%}<td class="text-center" colspan="2"></td>{%- endif -%}
			{%- if maintainer.bestrepo_num_projects_outdated -%}
			<td class="text-center version-cell version-big version-outdated">
				<a href="{{ url_for('projects', maintainer=maintainer.maintainer, inrepo=maintainer.bestrepo, outdated=1) }}">
					{{- maintainer.bestrepo_num_projects_outdated -}}
				</a>
			</td>
			<td class="text-center version-cell version-big version-outdated">
				<a href="{{ url_for('projects', maintainer=maintainer.maintainer, inrepo=maintainer.bestrepo, outdated=1) }}">
					{{- macros.safe_percent(maintainer.bestrepo_num_projects_outdated, maintainer.bestrepo_num_projects) -}}
				</a>
			</td>
			{%- else -%}<td class="text-center" colspan="2"></td>{%- endif -%}
			{%- if maintainer.bestrepo_num_projects_problematic -%}
			<td class="text-center version-cell version-big version-ignored">
				<a href="{{ url_for('projects', maintainer=maintainer.maintainer, inrepo=maintainer.bestrepo, problematic=1) }}">
					{{- maintainer.bestrepo_num_projects_problematic -}}
				</a>
			</td>
			{%- else -%}<td class="text-center"></td>{%- endif -%}
			<td class="text-center total-cell">
				<a href="{{ url_for('projects', maintainer=maintainer.maintainer) }}">
					{{- maintainer.num_projects -}}
				</a>
			</td>
			<td class="text-center">
				{{- macros.format_time_interval(maintainer.first_seen_ago) -}}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">
	<p>No maintainers found matching the criteria. Some of the reasons which may have caused this:</p>
	<ul>
		<li>The maintainer you are looking for no longer maintains any packages.</li>
		<li>The maintainer you are looking for obfuscates his email in package metadata, so repology cannot parse it.</li>
		<li>Repology does not support or no longer supports any repositories the maintainer you are looking for is active in. Check <a href="{{ url_for('repositories_statistics') }}">the list</a> of supported repositoris.</li>
		<li>The maintainer identifier (email) is misspelled, or have changed.{% if search and '@' in search %} It is quite common for only domain part to change, so try <a href="{{ url_for_self(search=search.split('@')[0]) }}">searching</a> without domain name.{% endif %}</li>
		<li>Repology is unable or no longer able to parse maintainer information for repositories this maintainer is active in. Check <a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}#repository-support">repository support table</a>. This can be fixed if repositories in question setup a more complete dump of information on their packages.</li>
	</ul>
</div>
{% endif %}

</div>
{% endblock %}
