{% extends "layout.html" %}

{% block extrameta %}
	<meta http-equiv="robots" content="noindex">
{% endblock %}

{% block title %}Unknown maintainer {{ maintainer }} - Repology{% endblock %}
{% block header %}Unknown maintainer <strong>{{ maintainer }}</strong>{% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-warning" role="alert">
	<p>Sorry, but Repology doesn't know anything about <strong>{{ maintainer }}</strong>.</p>
	<p>Some of the reasons which may have caused this:</p>
	<ul>
		<li>The maintainer no longer maintains any packages.</li>
		<li>The maintainer obfuscates his email in package metadata, so repology cannot parse it.</li>
		<li>Repology does not support any repositories this maintainer is active in. Check <a href="{{ url_for('repositories_statistics') }}">the list</a>.</li>
		<li>The maintainer identifier (email) is misspelled, or have changed. Try <a href="{{ url_for('maintainers') }}">searching</a>. It is quite common for only domain part to change.</li>
		<li>Repology is unable to parse maintainer information for repositories this maintainer is active in. Check <a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}#repository-support">repository support table</a>. This can be fixed if repositories in question setup a more complete dump of information on their packages.</li>
	</ul>
</div>

</div>
{% endblock %}
