{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% import "macros/autorefresh.html" as _autorefresh with context %}

{% block extrameta %}
{{ _autorefresh.meta(3600 + randrange(60)) }}
	<link rel="alternate" href="{{ url_for('maintainer_repo_feed_atom', maintainer=maintainer, repo=repo) }}" type="application/atom+xml" />
{% endblock %}

{% block title %}Feed for {{ maintainer }} in {{ repometadata[repo].desc }} - Repology{% endblock %}
{% block header %}Feed for <strong><a href="{{ url_for('maintainer', maintainer=maintainer) }}">{{ maintainer }}</a></strong>
in <strong><a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a></strong>{% endblock %}
{% block description %}Feed for maintainer {{ maintainer }} in repository {{ repometadata[repo].desc }}{% endblock %}

{% block content %}
<div class="container">

<p>This feed in also available in <a href="{{ url_for('maintainer_repo_feed_atom', maintainer=maintainer, repo=repo) }}">atom<img src="{{ url_for('static', filename='feed.v1.svg') }}" width="16" height="16" alt="Atom feed"></a> format</p>

{{ _autorefresh.toggler() }}

{% if history %}
<table class="table table-striped">
	<tr>
		<th class="text-center">Date{{ macros.timezone_abbr() }}</th>
		<th class="text-center">Event</th>
	</tr>
{% for entry in history %}
	<tr>
		<td class="minimal-column">{{ macros.format_absolute_time(entry.ts) }}</td>
		<td>
		{% if entry.type == 'added' %}
			<a href="{{ url_for('project_versions', name=entry.effname) }}">{{ entry.effname }}</a> was added to <strong><a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a></strong> and/or assigned to <strong><a href="{{ url_for('maintainer', maintainer=maintainer) }}">{{ maintainer }}</a></strong>
		{% elif entry.type == 'removed' %}
			<a href="{{ url_for('project_versions', name=entry.effname) }}">{{ entry.effname }}</a> is no longer maintained by <strong><a href="{{ url_for('maintainer', maintainer=maintainer) }}">{{ maintainer }}</a></strong> and/or was removed from <strong><a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a></strong>
		{% elif entry.type == 'uptodate' %}
			<a href="{{ url_for('project_versions', name=entry.effname) }}">{{ entry.effname }}</a> <span class="version version-newest">{{ entry.data.version }}</span> is now up to date
		{% elif entry.type == 'outdated' %}
			<a href="{{ url_for('project_versions', name=entry.effname) }}">{{ entry.effname }}</a> <span class="version version-outdated">{{ entry.data.version }}</span> is outdated
			{% if entry.data.newest_versions %}by {% for version in entry.data.newest_versions %}<span class="version version-newest">{{ version }}</span>{% endfor %}{% endif %}
		{% elif entry.type == 'ignored' %}
			<a href="{{ url_for('project_versions', name=entry.effname) }}">{{ entry.effname }}</a> <span class="version version-ignored">{{ entry.data.version }}</span> is ignored
		{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-warning" role="alert">No events in this feed yet</div>
{% endif %}

</div> {#- container #}
{% endblock %}
