{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block extrameta %}
	<meta http-equiv="refresh" content="3600">
	<link rel="alternate" href="{{ url_for('maintainer_repo_feed_atom', maintainer=maintainer, repo=repo) }}" type="application/atom+xml" />
{% endblock %}

{% block title %}{{ super() }}: feed for {{ maintainer }} in {{ repometadata[repo].desc }}{% endblock %}
{% block header %}Feed for <strong>{{ maintainer }}</strong> in  <strong>{{ repometadata[repo].desc }}</strong>{% endblock %}
{% block description %}Feed for maintainer {{ maintainer }} in repository {{ repometadata[repo].desc }}{% endblock %}

{% block content %}
<div class="container">

<table class="table table-striped">
	<tr>
		<th class="text-center">Date{{ macros.timezone_abbr() }}</th>
		<th class="text-center">Event</th>
	</tr>
{% for entry in history %}
	<tr>
		<td class="minimal-column">{{ macros.format_absolute_time(entry.ts) }}</td>
		<td>
		{% if entry.type == 'added' %}
			Package for <a href="{{ url_for('metapackage_versions', name=entry.effname) }}">{{ entry.effname }}</a> added
		{% elif entry.type == 'removed' %}
			Package for <a href="{{ url_for('metapackage_versions', name=entry.effname) }}">{{ entry.effname }}</a> removed
		{% elif entry.type == 'uptodate' %}
			Package <a href="{{ url_for('metapackage_versions', name=entry.effname) }}">{{ entry.effname }}</a> version <span class="version version-newest">{{ entry.data.version }}</span> is up to date
		{% elif entry.type == 'outdated' %}
			Package <a href="{{ url_for('metapackage_versions', name=entry.effname) }}">{{ entry.effname }}</a> version <span class="version version-outdated">{{ entry.data.version }}</span> is outdated
			{% if entry.data.newest_versions %}by {% for version in entry.data.newest_versions %}<span class="version version-newest">{{ version }}</span>{% endfor %}{% endif %}
		{% elif entry.type == 'ignored' %}
			Package <a href="{{ url_for('metapackage_versions', name=entry.effname) }}">{{ entry.effname }}</a> version <span class="version version-ignored">{{ entry.data.version }}</span> is ignored
		{% endif %}
		</td>
	</tr>
{% endfor %}
</table>

</div> {#- container #}
{% endblock %}
