{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block extrameta %}
	<meta http-equiv="robots" content="noindex">
{% endblock %}

{% block title %}Repology: gone maintainer {{ maintainer }}{% endblock %}
{% block header %}Gone maintainer <strong>{{ maintainer }}</strong>{% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-warning" role="alert">
	<p>Sorry, but Repology no longer knows anything about <strong>{{ maintainer }}</strong>.</p>
	<p>Last time Repology has seen any packages maintained by this maintainer was {{ macros.format_absolute_time(maintainer_info.last_seen) }}{{ macros.timezone_abbr() }} ({{ macros.format_time_interval(maintainer_info.last_seen_ago) }} ago).</p>
	<p>Some of the reasons which may have caused this:</p>
	<ul>
		<li>The maintainer no longer maintains any packages.</li>
		<li>The maintainer obfuscates his email in package metadata, so repology cannot parse it.</li>
		<li>Repology no longer supports any repositories this maintainer is active in. Check <a href="{{ url_for('statistics') }}">the list</a>.</li>
		<li>The maintainer identifier (email) is misspelled, or have changed. Try <a href="{{ url_for('maintainers') }}">searching</a>. It is quite common for only domain part to change.</li>
		<li>Repology is no longer able to parse maintainer information for repositories this maintainer is active in. Check <a href="{{ config['REPOLOGY_MAIN_REPO_URL'] }}#repository-support">repository support table</a>. This can be fixed if repositories in question setup a more complete dump of information on their packages.</li>
	</ul>
</div>

</div>
{% endblock %}
