{% extends "metapackage.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ super() }}: history for {{ name }}{% endblock %}
{% block header %}History for <strong>{{ name }}</strong>{% endblock %}
{% block description %}History of package versions for metapackage {{ name }} in all repositories{% endblock %}

{% block content %}
<div class="container">

<p>Please note that this history is still an experimental feature, so it may be reset at any time.</p>

<table class="table table-striped">
	<tr>
		<th class="text-center">Date{{ macros.timezone_abbr() }}</th>
		<th class="text-center">Event</th>
	</tr>
{% for entry in history %}
	<tr>
		<td class="text-nowrap">{{ macros.format_time_interval(entry.ago) }} ago</td>
		<td>
		{%- if entry.type == 'history_start' -%}
			<b>
			{%- set numversions = entry.data.devel_versions|length + entry.data.newest_versions|length -%}
			History start
			{%- if numversions -%}
			, latest {% if numversions == 1 %}version is{% else %}versions are{% endif %}
			{% for version in entry.data.devel_versions %}
			<span class="version version-devel">{{ version }}</span>
			{%- endfor %}
			{% for version in entry.data.newest_versions %}
			<span class="version version-newest">{{ version }}</span>
			{%- endfor %}
			{% endif %}

			{%- if entry.data.actual_repos -%}
			, up to date in

			{% for repo in entry.data.actual_repos %}
			{% if loop.index0 %}, {% endif %}<a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a>
			{%- endfor %}
			{% endif %}

			{%- if entry.data.old_repos -%}
			, {% if entry.data.actual_repos %}also {% endif %}present in

			{% for repo in entry.data.old_repos %}
			{% if loop.index0 %}, {% endif %}<a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a>
			{%- endfor %}
			{% endif %}
			</b>
		{%- elif entry.type == 'version_update' -%}
			<b>
			{%- set numversions = entry.data.versions|length -%}
			{% if numversions %}
			{{ entry.data.branch|capitalize }} version{% if numversions > 1 %}s{% endif %} updated to
			{% for version in entry.data.devel_versions %}
			<span class="version version-devel">{{ version }}</span>
			{%- endfor %}
			{% for version in entry.data.newest_versions %}
			<span class="version version-newest">{{ version }}</span>
			{%- endfor %}

			{% if entry.data.repos %}
			by

			{% for repo in entry.data.repos %}
			{% if loop.index0 %}, {% endif %}<a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a>
			{%- endfor %}
			{% endif %}
			{% else %}{# not numversions #}
			There's no more latest version
			{% endif %}

			{%- if entry.data.passed -%}
			, in {{ macros.format_time_interval(entry.data.passed) }} since the last update
			{% endif %}

			</b>
		{%- elif entry.type == 'catch_up' -%}
			{% for repo in entry.data.repos -%}
			{% if loop.index0 %}, {% endif %}<a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a>
			{%- endfor %}

			{% if entry.data.repos|length == 1 %}has{% else %}have{% endif %} caught up to {{ entry.data.branch }}

			{% if entry.data.lag %}
			in {{ macros.format_time_interval(entry.data.lag) }}
			{% endif %}
		{%- elif entry.type == 'repos_update' -%}
			{% if entry.data.repos_added %}
			Project added to

			{% for repo in entry.data.repos_added %}
			{% if loop.index0 %}, {% endif %}<a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a>
			{%- endfor %}
			{% endif %}

			{%- if entry.data.repos_removed %}
			{% if entry.data.repos_added %}, and{% else %}Project{% endif %}
			removed from

			{% for repo in entry.data.repos_removed %}
			{% if loop.index0 %}, {% endif %}<a href="{{ url_for('repository', repo=repo) }}">{{ repometadata[repo].desc }}</a>
			{%- endfor %}
			{% endif %}
		{%- elif entry.type == 'history_end' -%}
			History ends, there are no longer packages for this project in any repositories known to repology

			{%- if entry.data.last_repo %}
			, last repository was <a href="{{ url_for('repository', repo=entry.data.last_repo) }}">{{ repometadata[entry.data.last_repo].desc }}</a>
			{% endif %}
		{%- endif -%}
		</td>
	</tr>
{% endfor %}
</table>

</div> {#- container #}
{% endblock %}
