{% extends "metapackage.html" %}

{% block title %}{{ name }} packaging badges - Repology{% endblock %}
{% block header %}Badges for <strong>{{ name }}</strong>{% endblock %}
{% block description %}SVG badges with packaging information for metapackage {{ name }}{% endblock %}
{% block keywords %}{{ super() }}, badge{% endblock %}

{% macro badge_example(badge_type, alt="Packaging status", badge_args={}) %}
<p><a href="{{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }}"><img src="{{ url_for(badge_type, name=name, **badge_args) }}" alt="{{ alt }}"></a></p>

<p>Markdown code:</p>
<pre>
[![{{ alt }}]({{ REPOLOGY_HOME }}{{ url_for(badge_type, name=name, **badge_args) }})]({{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }})
</pre>

<p>HTML code:</p>
<pre>
&lt;a href=&quot;{{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }}&quot;&gt;
    &lt;img src=&quot;{{ REPOLOGY_HOME }}{{ url_for(badge_type, name=name, **badge_args)}}&quot; alt=&quot;{{ alt }}&quot;&gt;
&lt;/a&gt;
</pre>
{% endmacro %}

{% block content %}
<div class="container">

<article>

<section>

<h2>Big badge</h2>

<p>This shows versions and up to date status of this package in all known repositories.</p>

{{ badge_example('badge_vertical_allrepos') }}

<p>When using HTML code, you can also right-align the big badge by adding <code>align="right"</code> attribute (works on GitHub as well). When the badge is right-aligned, space to the left of it can be occupied by other content, and is not wasted as it would be otherwise, so it's recommended way of embedding the big badge.</p>

<p>HTML code for right-aligned badge:</p>
<pre>
&lt;a href=&quot;{{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }}&quot;&gt;
    &lt;img src=&quot;{{ REPOLOGY_HOME }}{{ url_for('badge_vertical_allrepos', name=name)}}&quot; alt=&quot;Packaging status&quot; <strong>align=&quot;right&quot;</strong>&gt;
&lt;/a&gt;
</pre>

<p>You may customize badge header with the <code>header=...</code> HTTP parameter. For instance, you may use localized message or remove the header completely by specifying empty value.</p>

<pre>
{{ REPOLOGY_HOME }}{{ url_for('badge_vertical_allrepos', name=name) }}<strong>?header=Packages</strong>
{{ REPOLOGY_HOME }}{{ url_for('badge_vertical_allrepos', name=name) }}<strong>?header=</strong>
</pre>

<p>You may also specify minimal version with the <code>minversion=...</code> HTTP parameter, to make versions lower than that highlighed with bright red.</p>

<pre>
{{ REPOLOGY_HOME }}{{ url_for('badge_vertical_allrepos', name=name) }}<strong>?minversion=1.0.0</strong>
</pre>

</section>

<section>

<h2>Tiny badge with number of repositories</h2>

<p>This shows total number of repository families featuring this package. Repository family is an aggregation of related repositories, e.g. Debian Stable, Testing, Unstable and Experimental all belong to a single family and are thus only counted once.</p>

{{ badge_example('badge_tiny_repos') }}

</section>

<section>

<h2>Tiny badge with latest packaged versions</h2>

<p>This shows latest version(s) known to repology. There may be multiple versions, for example devel and newest, or multiple variations of the same version encountered in some repositories (e.g.<code>1.0.0</code> and <code>1.0</code>). These badges also support <code>minversion=</code> parameter.</p>

{{ badge_example('badge_latest_versions', alt='latest packaged version(s)') }}

</section>

<section>

<h2>Tiny per-repository badges with version</h2>

<p>These show version in specific repository. Pick as many as you want!</p>

<table class="table">
	<tr><th>Sample</th><th>Markdown code</th><th>HTML code</th></tr>
	{% for repo in repos %}
	<tr>
		<td><a href="{{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }}"><img src="{{ url_for('badge_version_for_repo', name=name, repo=repo) }}" alt="{{ repometadata[repo].singular }}"></a></td>
		<td><code>[![{{ repometadata[repo].singular }}]({{ REPOLOGY_HOME }}{{ url_for('badge_version_for_repo', name=name, repo=repo) }})]({{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }})</code></td>
		<td><code>&lt;a href=&quot;{{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }}&quot;&gt;<br>&nbsp;&nbsp;&nbsp;&lt;img src=&quot;{{ REPOLOGY_HOME }}{{ url_for('badge_version_for_repo', name=name, repo=repo)}}&quot; alt=&quot;{{ repometadata[repo].singular }}&quot;&gt;<br>&lt;/a&gt;</code></td>
	</tr>
	{% endfor %}
</table>

</section>

<section>

<h2>Tiny per-repository badges with version only</h2>

<p>These show version in specific repository. Repository name is not included, so these are useful if you already have table or other formatting with repository names. These badges also support <code>minversion=</code> parameter.</p>

<table class="table">
	<tr><th>Repository</th><th>Sample</th><th>Markdown code</th><th>HTML code</th></tr>
	{% for repo in repos %}
	<tr>
		<td>{{ repometadata[repo].desc }}</td>
		<td><a href="{{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }}"><img src="{{ url_for('badge_version_only_for_repo', name=name, repo=repo) }}" alt="{{ repometadata[repo].singular }}"></a></td>
		<td><code>[![{{ repometadata[repo].singular }}]({{ REPOLOGY_HOME }}{{ url_for('badge_version_only_for_repo', name=name, repo=repo) }})]({{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }})</code></td>
		<td><code>&lt;a href=&quot;{{ REPOLOGY_HOME }}{{ url_for('metapackage_versions', name=name) }}&quot;&gt;<br>&nbsp;&nbsp;&nbsp;&lt;img src=&quot;{{ REPOLOGY_HOME }}{{ url_for('badge_version_only_for_repo', name=name, repo=repo)}}&quot; alt=&quot;{{ repometadata[repo].singular }}&quot;&gt;<br>&lt;/a&gt;</code></td>
	</tr>
	{% endfor %}
</table>

</section>

</article>

</div> {#- container #}
{% endblock %}
