{% if metapackagedata %}
<table class="table table-striped table-condensed">
	<thead>
	{% for metapackagename,data in metapackagedata|dictsort %}
	{% set headerevery = 50 %}
	{% set metapackage = metapackages[metapackagename] %}
	{% if loop.first or (headerevery != 0 and loop.index0 % headerevery == 0) %}
		<tr>
			<th>Metapackage</th>
			{% if repo %}
			<th class="text-nowrap">In {{ repometadata[repo].desc }}</th>
			{% elif maintainer %}
			<th class="text-nowrap">By {{ maintainer }}</th>
			{% endif %}
			<th class="text-center">Spread</th>
			<th>Newest</th>
			<th>Outdated</th>
			<th>Ignored</th>
		</tr>
	{% if loop.first %}</thead><tbody>{% endif %}
	{% endif %}
		<tr>
			<td class="text-nowrap">
				<a href="{{ url_for("metapackage_versions", name=metapackagename) }}">{{ metapackagename }}</a>
				{%- if metapackage.has_related -%}
				<a class="has-related-mark" href="{{ url_for("metapackage_related", name=metapackagename) }}">∗</a>
				{% endif %}
			</td>

			{% if repo or maintainer %}
			<td>
			{% for versiontuple in data.explicit %}
				<span class="version version-{{ versiontuple[1]|css_for_versionclass }}">{{ versiontuple[0] }}</span>
				{%- set count = versiontuple[2] %}{% if count > 1 %}<sup>{{ count }}</sup>{% endif %}
			{% else %}
				-
			{% endfor %}
			</td>
			{% endif %}
			<td class="text-center"><b>{{ metapackage.num_families }}</b></td>
			<td>
			{% for versiontuple in data.newest %}
				<span class="version version-{{ versiontuple[1]|css_for_versionclass }}">{{ versiontuple[0] }}</span>
				{%- if versiontuple[2] > 1 %}<sup>{{ versiontuple[2] }}</sup>{% endif %}
			{% endfor %}
			</td>
			<td>
			{% for versiontuple in data.outdated %}
				<span class="version version-{{ versiontuple[1]|css_for_versionclass }}">{{ versiontuple[0] }}</span>
				{%- if versiontuple[2] > 1 %}<sup>{{ versiontuple[2] }}</sup>{% endif %}
			{% endfor %}
			</td>
			<td>
			{% for versiontuple in data.ignored %}
				<span class="version version-{{ versiontuple[1]|css_for_versionclass }}">{{ versiontuple[0] }}</span>
				{%- if versiontuple[2] > 1 %}<sup>{{ versiontuple[2] }}</sup>{% endif %}
			{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">No metapackages found matching the criteria</div>
{% endif %}
