{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}Metapackages turnover - Repology{% endblock %}
{% block header %}Metapackages turnover{% endblock %}

{% block content %}
<div class="container">

<div class="row">
	<div class="col-md-6">
		<h3>Metapackages recently added</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Added ago</th>
					<th>Metapackage</th>
				</tr>
			</thead>
			<tbody>
			{% for package in added %}
				<tr>
					<td class="text-nowrap">{{ macros.format_time_interval(package.ago) }} ago</td>
					<td>
						<a href="{{ url_for("metapackage_versions", name=package.effname) }}">{{ package.effname }}</a>
					{%- if package.has_related -%}
						<a href="{{ url_for("metapackage_related", name=package.effname) }}">∗</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Metapackages recently removed</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Removed ago</th>
					<th>Metapackage</th>
				</tr>
			</thead>
			<tbody>
			{% for package in removed %}
				<tr>
					<td class="text-nowrap">{{ macros.format_time_interval(package.ago) }} ago</td>
					<td>{{ package.effname }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div> {#- row #}

</div> {#- container #}
{% endblock %}
