{% extends "layout.html" %}

{% block title %}Repology news{% endblock %}
{% block header %}News{% endblock %}

{% block content %}
<div class="container">

<article>
	<h3 id="2019-04-26">2019-04-26</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='elrepo_el7') }}">ELRepo</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_emulators_tumbleweed') }}">openSUSE Emulators</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_graphics_tumbleweed') }}">openSUSE Graphics</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_multimedia_apps_tumbleweed') }}">openSUSE Multimedia:Apps</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_multimedia_libs_tumbleweed') }}">openSUSE Multimedia:Libs</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_network_tumbleweed') }}">openSUSE Network</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_science_tumbleweed') }}">openSUSE Science</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-04-12">2019-04-12</h3>
	<ul>
		<li>Separate IPv4 and IPv6 status is now reported for links.</li>
	</ul>
</article>

<article>
	<h3 id="2019-02-15">2019-02-15</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='t2') }}">T2 SDE</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-02-07">2019-02-07</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='solus') }}">Solus</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='salix_14_2') }}">Salix</a> repository.</li>
		<li>Added MSYS2 <a href="{{ url_for('repository', repo='msys2_msys2') }}">msys2</a>,
			<a href="{{ url_for('repository', repo='msys2_mingw') }}">mingw</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2018-12-07">2018-12-07</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='void_x86_64') }}">Void Linux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-11-30">2018-11-30</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='pisi_main') }}">Pisi Linux</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2018-11-06">2018-11-06</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='reactos') }}">ReactOS Application Manager</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-10-14">2018-10-14</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='slackware_current') }}">Slackware</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2018-10-08">2018-10-08</h3>
	<ul>
		<li>Added PackMan repositories:
			<a href="{{ url_for('repository', repo='packman_opensuse_leap_42_3') }}">openSUSE Leap 42.3</a>,
			<a href="{{ url_for('repository', repo='packman_opensuse_leap_15_0') }}">openSUSE Leap 15.0</a>,
			<a href="{{ url_for('repository', repo='packman_opensuse_tumbleweed') }}">openSUSE Tumbleweed</a>,
			<a href="{{ url_for('repository', repo='packman_sle_12') }}">SLE 12</a>,
			<a href="{{ url_for('repository', repo='packman_sle_15') }}">SLE 15</a>.</li>
	</ul>
</article>

<article>
	<h3 id="2018-09-03">2018-09-03</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='adelie_current') }}">Adélie Lunix</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-08-10">2018-08-10</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='whonix_stretch') }}">Whonix</a> repositories.</li>
		<li>Added <a href="{{ url_for('repository', repo='slitaz_next') }}">SliTaz next</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-08-06">2018-08-06</h3>
	<ul>
		<li>Reworked <a href="{{ url_for('repositories_statistics') }}">repositories</a> section, added realtime information on repository <a href="{{ url_for('repositories_updates') }}">update</a> process.</li>
	</ul>
</article>

<article>
	<h3 id="2018-07-29">2018-07-29</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='slitaz_cooking') }}">SliTaz</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-07-07">2018-07-07</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='hpux_11_31') }}">HP-UX</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-07-03">2018-07-03</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='aix_osp') }}">AIX Open Source Packages</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='buckaroo') }}">Buckaroo</a> repository.</li>
		<li>Repology now ignores obfuscated maintainer emails.</li>
	</ul>
</article>

<article>
	<h3 id="2018-06-27">2018-06-27</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='pld') }}">PLD Linux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-06-24">2018-06-24</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='termux') }}">Termux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-06-19">2018-06-19</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='exherbo') }}">Exherbo</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-06-17">2018-06-17</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='openpkg_current') }}">OpenPKG</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-05-04">2018-05-04</h3>
	<ul>
		<li>Feeds of package state changes (e.g. when package is updated or gets oudated) are finally available. Both <a href="{{ url_for('maintainer_repo_feed', maintainer='amdmi3@freebsd.org', repo='freebsd') }}">HTML</a> and <a href="{{ url_for('maintainer_repo_feed_atom', maintainer='amdmi3@freebsd.org', repo='freebsd') }}">Atom</a> formats. See maintainer pages for links to these feeds.</li>
	</ul>
</article>

<article>
	<h3 id="2018-04-14">2018-04-14</h3>
	<ul>
		<li>Per-project history is available. See <a href="{{ url_for('project_history', name='vim') }}">history</a> tab under each project.</li>
	</ul>
</article>

<article>
	<h3 id="2018-03-17">2018-03-17</h3>
	<ul>
		<li>A bunch of repositories for Debian derivatives added:
			<a href="{{ url_for('repository', repo='maemo_fremantle') }}">Maemo</a>,
			<a href="{{ url_for('repository', repo='pardus') }}">Pardus</a>,
			<a href="{{ url_for('repository', repo='raspbian_stable') }}">Raspbian</a>,
			<a href="{{ url_for('repository', repo='steamos_brewmaster') }}">SteamOS</a>,
			<a href="{{ url_for('repository', repo='tails_stable') }}">Tails</a>.
		</li>
		<li>Extended project filtering capabilities. Filtering by number of repositories, families, up to date repositories and up to date families is now possible. Now you can, for example, get a list of projects outdated in your repository, but up to date in 3 or more families, like <a href="{{ url_for('projects', inrepo='freebsd', outdated=true, families_newest='3-') }}">this</a>, which lowers the chance of false positive outdated package report.</li>
	</ul>
</article>

<article>
	<h3 id="2018-03-12">2018-03-12</h3>
	<ul>
		<li>Presence of related projects is now indicated in the projects list.</li>
	</ul>
</article>

<article>
	<h3 id="2018-02-16">2018-02-16</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='entware') }}">Entware-ng</a> repository.</li>
		<li>Added newer antiX <a href="{{ url_for('repository', repo='antix_17') }}">antiX-17</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='scoop') }}">Scoop</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-01-24">2018-01-24</h3>
	<ul>
		<li>Implemented a bunch of new package statuses (see legend for details).</li>
	</ul>
</article>

<article>
	<h3 id="2018-01-19">2018-01-19</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='hyperbola') }}">Hyperbola</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-01-16">2018-01-16</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='deb_multimedia_unstable') }}">Deb Multimedia</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-01-13">2018-01-13</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='wikidata') }}">Wikidata</a> support.</li>
	</ul>
</article>

<article>
	<h3 id="2018-01-10">2018-01-10</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='pureos_green') }}">PureOS</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2018-01-09">2018-01-09</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='trisquel_7_0') }}">Trisquel</a> repositories.</li>
	</ul>
</article>

</div> {#- container #}
{% endblock %}
