{% extends "layout.html" %}

{% block title %}Repology news{% endblock %}
{% block header %}News{% endblock %}

{% block content %}
<div class="container">

<article>
	<h3 id="2019-08-26">2019-08-26</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='distri') }}">Distri</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-08-21">2019-08-21</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='kiss_main') }}">KISS Linux</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2019-06-20">2019-06-20</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='os4depot') }}">OS4Depot</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-06-18">2019-06-18</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='luarocks') }}">LuaRocks</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-06-17">2019-06-17</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='kwort_4_3_4') }}">Kwort</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2019-06-11">2019-06-11</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='npackd_stable') }}">Npackd</a> repositories.</li>
		<li>Added <a href="{{ url_for('repository', repo='just-install') }}">just-install</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-06-04">2019-06-04</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='cygwin') }}">Cygwin</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-05-14">2019-05-14</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='mer_core_aarch64') }}">Mer Core</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-04-30">2019-04-30</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='gnu_elpa') }}">GNU ELPA</a>, <a href="{{ url_for('repository', repo='melpa') }}">MELPA</a> Emacs package repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2019-04-29">2019-04-29</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_education_tumbleweed') }}">openSUSE Education</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_security_tumbleweed') }}">openSUSE Security</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-04-26">2019-04-26</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='elrepo_el7') }}">ELRepo</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_emulators_tumbleweed') }}">openSUSE Emulators</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_graphics_tumbleweed') }}">openSUSE Graphics</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_multimedia_apps_tumbleweed') }}">openSUSE Multimedia:Apps</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_multimedia_libs_tumbleweed') }}">openSUSE Multimedia:Libs</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_network_tumbleweed') }}">openSUSE Network</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='opensuse_science_tumbleweed') }}">openSUSE Science</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-04-12">2019-04-12</h3>
	<ul>
		<li>Separate IPv4 and IPv6 status are now reported for links.</li>
	</ul>
</article>

<article>
	<h3 id="2019-02-15">2019-02-15</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='t2') }}">T2 SDE</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2019-02-07">2019-02-07</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='solus') }}">Solus</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='salix_14_2') }}">Salix</a> repository.</li>
		<li>Added MSYS2 <a href="{{ url_for('repository', repo='msys2_msys2') }}">msys2</a>,
			<a href="{{ url_for('repository', repo='msys2_mingw') }}">mingw</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2018-12-07">2018-12-07</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='void_x86_64') }}">Void Linux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2018-11-30">2018-11-30</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='pisi_main') }}">Pisi Linux</a> repositories.</li>
	</ul>
</article>

</div> {#- container #}
{% endblock %}
