{% extends "project.html" %}

{% block title %}{{ name }} packaging badges - Repology{% endblock %}
{% block header %}Badges for <strong>{{ name }}</strong>{% endblock %}
{% block description %}SVG badges with packaging information for project {{ name }}{% endblock %}
{% block keywords %}{{ super() }}, badge{% endblock %}

{% macro badge_example(badge_type, alt="Packaging status", badge_args={}) %}
<p><a href="{{ REPOLOGY_HOME }}{{ url_for('project_versions', name=name) }}"><img src="{{ url_for(badge_type, name=name, **badge_args) }}" alt="{{ alt }}"></a></p>

<p>Markdown code:</p>
<pre>
[![{{ alt }}]({{ REPOLOGY_HOME }}{{ url_for(badge_type, name=name, **badge_args) }})]({{ REPOLOGY_HOME }}{{ url_for('project_versions', name=name) }})
</pre>

<p>HTML code:</p>
<pre>
&lt;a href=&quot;{{ REPOLOGY_HOME }}{{ url_for('project_versions', name=name) }}&quot;&gt;
    &lt;img src=&quot;{{ REPOLOGY_HOME }}{{ url_for(badge_type, name=name, **badge_args)}}&quot; alt=&quot;{{ alt }}&quot;&gt;
&lt;/a&gt;
</pre>
{% endmacro %}

{% block content %}
<div class="container">

<article>

<section>

<h2>Vertical badge</h2>

<p>This badge shows versions and up to date status of this project in all known repositories.</p>

{{ badge_example('badge_vertical_allrepos') }}

<p>HTML code for right-aligned badge (most useful for README.md as it allows other content to flow around it not leading to space waste):</p>
<pre>
&lt;a href=&quot;{{ REPOLOGY_HOME }}{{ url_for('project_versions', name=name) }}&quot;&gt;
    &lt;img src=&quot;{{ REPOLOGY_HOME }}{{ url_for('badge_vertical_allrepos', name=name)}}&quot; alt=&quot;Packaging status&quot; <strong>align=&quot;right&quot;</strong>&gt;
&lt;/a&gt;
</pre>

<p>May be tweaked with <code>header</code>, <code>minversion</code>, and <code>allow_ignored</code> parameters (see below).</p>

</section>

<section>

<h2>Tiny badge with number of repositories</h2>

<p>This shows total number of repository families featuring this package. Repository family is an aggregation of related repositories, e.g. Debian Stable, Testing, Unstable and Experimental all belong to a single family and are thus only counted once.</p>

{{ badge_example('badge_tiny_repos') }}

<p>May be tweaked with <code>header</code> parameter (see below).</p>

</section>

<section>

<h2>Tiny badge with latest packaged version(s)</h2>

<p>This shows latest version(s) known to repology. There may be multiple versions, for example devel and newest, or multiple variations of the same version encountered in some repositories (e.g.<code>1.0.0</code> and <code>1.0</code>). These badges also support <code>minversion=</code> parameter.</p>

{{ badge_example('badge_latest_versions', alt='latest packaged version(s)') }}

<p>May be tweaked with <code>header</code> parameter (see below).</p>

</section>

<section>

<h2>Tiny per-repository badges with version</h2>

<p>These show version in specific repository. Pick as many as you want! You may add <code>?header=</code> to the URL to leave only the version.</p>

<table class="table">
	<tr><th>Sample</th><th>Markdown code</th><th>HTML code</th></tr>
	{% for repo in repos %}
	<tr>
		<td>
			<a href="{{ REPOLOGY_HOME }}{{ url_for('project_versions', name=name) }}">
				<img src="{{ url_for('badge_version_for_repo', name=name, repo=repo) }}" alt="{{ repometadata[repo].singular }}">
			</a>
		</td>
		<td><code>[![{{ repometadata[repo].singular }}]({{ REPOLOGY_HOME }}{{ url_for('badge_version_for_repo', name=name, repo=repo) }})]({{ REPOLOGY_HOME }}{{ url_for('project_versions', name=name) }})</code></td>
		<td><code>&lt;a href=&quot;{{ REPOLOGY_HOME }}{{ url_for('project_versions', name=name) }}&quot;&gt;<br>&nbsp;&nbsp;&nbsp;&lt;img src=&quot;{{ REPOLOGY_HOME }}{{ url_for('badge_version_for_repo', name=name, repo=repo)}}&quot; alt=&quot;{{ repometadata[repo].singular }}&quot;&gt;<br>&lt;/a&gt;</code></td>
	</tr>
	{% endfor %}
</table>

<p>May be tweaked with <code>header</code>, <code>minversion</code>, and <code>allow_ignored</code> parameters (see below).</p>

</section>

<section>

<h2>Additional parameters</h2>

<p>Most badges may be tweaked by specifying additional parameters in the URL.</p>

<h3>header</h3>

<p>Works for all badges. Changes the header/caption of the badge. Specify empty header to remove it completely.</p>

<table class="table table-condensed">
	<tr>
		{% set url = url_for('badge_version_for_repo', name=name, repo=repos[0]) %}
		<td><code>{{ REPOLOGY_HOME }}{{ url }}</code></td>
		<td><img src="{{ REPOLOGY_HOME }}{{ url }}"></td>
	</tr>
	<tr>
		{% set url = url_for('badge_version_for_repo', name=name, repo=repos[0], header='') %}
		<td><code>{{ REPOLOGY_HOME }}{{ url }}</code></td>
		<td><img src="{{ REPOLOGY_HOME }}{{ url }}"></td>
	</tr>
	<tr>
		{% set url = url_for('badge_version_for_repo', name=name, repo=repos[0], header='PACKAGE') %}
		<td><code>{{ REPOLOGY_HOME }}{{ url }}</code></td>
		<td><img src="{{ REPOLOGY_HOME }}{{ url }}"></td>
	</tr>
</table>

<h3>minversion</h3>

<p>Specify "minimal acceptable version" - any versions lesser than it will be marked with crimson color. Useful to mark unacceptable versions based on arbitrary criteria, for instance unsupported dependency versions.</p>

<table class="table table-condensed">
	<tr>
		{% set url = url_for('badge_version_for_repo', name=name, repo=repos[0]) %}
		<td><code>{{ REPOLOGY_HOME }}{{ url }}</code></td>
		<td><img src="{{ REPOLOGY_HOME }}{{ url }}"></td>
	</tr>
	<tr>
		{% set url = url_for('badge_version_for_repo', name=name, repo=repos[0], minversion='999999999') %}
		<td><code>{{ REPOLOGY_HOME }}{{ url }}</code></td>
		<td><img src="{{ REPOLOGY_HOME }}{{ url }}"></td>
	</tr>
</table>

<h3>allow_ignored</h3>

<p>By default, when picking the version to show on badge, all <span class="version version-rolling">rolling</span>, <span class="version version-noscheme">noscheme</span>, <span class="version version-incorrect">incorrect</span>, <span class="version version-untrusted">untrusted</span>, <span class="version version-ignored">ignored</span> versions are skipped (so, for instance, rolling <code>9999</code> versions in Gentoo do not hide real stable versions). When <code>allow_ignored</code> parameter is specified (with some non-empty value), the greatest version is always picked regardless of status.</p>

<p><code>{{ REPOLOGY_HOME }}{{ url_for('badge_version_for_repo', name=name, repo=repos[0], allow_ignored=1) }}</code></p>

</section>

</article>

</div> {#- container #}
{% endblock %}
