{% extends "project.html" %}
{% import "macros.html" as macros %}
{% import "macros/autorefresh.html" as _autorefresh with context %}

{% block extrameta %}
{{ _autorefresh.meta(3600 + randrange(60)) }}
{% endblock %}

{% block title %}{{ name }} packaging history - Repology{% endblock %}
{% block header %}History for <strong>{{ name }}</strong>{% endblock %}
{% block description %}History of package versions for project {{ name }} in all repositories{% endblock %}

{% block content %}
<div class="container">

<p>Please note that this history is still an experimental feature
and may be reset at any time.</p>

<p>Also note that in addition to actual activity of software authors
and repository maintainers, this history may contain artifacts produced
by repology. For example, if two projects are merged it will look
like one project has appeared in more repositories and another one
removed from all repositories.</p>

{{ _autorefresh.toggler() }}

<table class="table table-striped">
	<tr>
		<th class="text-center">Date{{ macros.timezone_abbr() }}</th>
		<th class="text-center">Event</th>
	</tr>
{% for entry in history %}
	<tr>
		<td class="minimal-column">{{ macros.format_absolute_time(entry.ts) }}</td>
		<td>
		{%- if entry.type == 'history_start' -%}
			<b>
			{%- set numversions = entry.data.devel_versions|length + entry.data.newest_versions|length -%}
			History start

			{%- if numversions -%}
				, latest {% if numversions == 1 %}version is{% else %}versions are{% endif %}
				{% for version in entry.data.devel_versions %}
					<span class="version version-big version-devel">{{ version }}</span>
				{%- endfor %}
				{% for version in entry.data.newest_versions %}
					<span class="version version-big version-newest">{{ version }}</span>
				{%- endfor %}
			{%- else -%}
				, no known latest or devel versions for this project
			{%- endif -%}

			{%- if entry.data.actual_repos -%}
				, up to date in

				{% for repo in entry.data.actual_repos %}
					{% if loop.index0 %}, {% endif %}{{ macros.repository_link(repo) }}
				{%- endfor %}
			{% endif %}

			{%- if entry.data.old_repos -%}
				, {% if entry.data.actual_repos %}also {% endif %}present in

				{% for repo in entry.data.old_repos %}
					{% if loop.index0 %}, {% endif %}{{ macros.repository_link(repo) }}
				{%- endfor %}
			{% endif %}
			</b>
		{%- elif entry.type == 'version_update' -%}
			<b>
			{%- set numversions = entry.data.versions|length -%}
			{% if numversions %}
				{{ entry.data.branch|capitalize }} version{% if numversions > 1 %}s{% endif %} updated to
				{% for version in entry.data.versions %}
					<span class="version version-big version-{{ entry.data.branch }}">{{ version }}</span>
				{%- endfor %}

				{% if entry.data.repos %}
					by

					{% for repo in entry.data.repos %}
						{% if loop.index0 %}, {% endif %}{{ macros.repository_link(repo) }}
					{%- endfor %}
				{% endif %}
			{%- else -%}
				There's no more {{ entry.data.branch }} version
			{% endif %}

			{%- if entry.data.passed -%}
				, in {{ macros.format_time_interval(entry.data.passed) }} since the last update
			{% endif %}

			</b>
		{%- elif entry.type == 'catch_up' -%}
			{% for repo in entry.data.repos -%}
				{% if loop.index0 %}, {% endif %}{{ macros.repository_link(repo) }}
			{%- endfor %}

			{% if entry.data.repos|length == 1 %}has{% else %}have{% endif %} caught up with the {{ entry.data.branch }} version

			{% if entry.data.lag %}
				in {{ macros.format_time_interval(entry.data.lag) }}
			{% endif %}
		{%- elif entry.type == 'repos_update' -%}
			Project
			{% if entry.data.repos_added %}
				added to

				{% for repo in entry.data.repos_added %}
					{% if loop.index0 %}, {% endif %}{{ macros.repository_link(repo) }}
				{%- endfor %}
			{% endif %}

			{%- if entry.data.repos_added and entry.data.repos_removed -%}, and{% endif %}

			{% if entry.data.repos_removed %}
				removed from

				{% for repo in entry.data.repos_removed %}
					{% if loop.index0 %}, {% endif %}{{ macros.repository_link(repo) }}
				{%- endfor %}
			{% endif %}
		{%- elif entry.type == 'history_end' -%}
			<b>
			History ends, there are no longer packages for this project in any repositories known to repology

			{%- if entry.data.last_repos -%}
				, last repositor{% if entry.data.last_repos|length==1 %}y was{% else %}ies were{% endif %}

				{% for repo in entry.data.last_repos %}
					{% if loop.index0 %}, {% endif %}{{ macros.repository_link(repo) }}
				{%- endfor %}
			{% endif %}
			</b>
		{%- endif -%}
		</td>
	</tr>
{% endfor %}
</table>

</div> {#- container #}
{% endblock %}
