{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% import "macros/projects_table.html" as projects_table %}

{% block title %}Gone project {{ name }} - Repology{% endblock %}
{% block header %}Gone project <strong>{{ name }}</strong>{% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-warning" role="alert">
	<p>Sorry, but Repology no longer knows project <strong>{{ name }}</strong>.</p>
	<p>Last time Repology has seen any packages belonging to this projects was {{ macros.format_absolute_time(metapackage.last_seen) }}{{ macros.timezone_abbr() }} ({{ macros.format_time_interval(metapackage.last_seen_ago) }} ago).</p>
	<p>Some of the reasons which may have caused this:</p>
    <ul>
		<li>You're looking for package name as it's spelled in some repository, while Repology normalizes project names and may spell them differently.</li>
		<li>The packages for this project are no longer available in any repositories known to Repology.</li>
		<li>The project you're looking for was renamed upstream, in some repository, or in Repology itself.</li>
		<li>The name you're looking for is ambigious and may refer to multiple different projects.</li>
	</ul>
	{% if metapackages %}
	<p>There are some projects which may be related to what you're looking for, they are listed below.</p>
	{% endif %}
	{% if has_history or has_reports %}
	<p>Also, some historical data is still available for the gone project, which may be of interest:
		{%- if has_history %} <a href="{{ url_for('project_history', name=name) }}">history</a>{% endif -%}
		{%- if has_reports %}{% if has_history %},{% endif %} <a href="{{ url_for('project_report', name=name) }}">reports</a>{% endif -%}.
	</p>
	{% endif %}
</div>

{% if metapackages %}
{{ projects_table.projects_table(metapackages, metapackagedata, target_project_endpoint=request.endpoint) }}
{% endif %}

</div>
{% endblock %}
