{% extends "layout.html" %}
{% import "macros/projects_table.html" as projects_table %}
{% import "macros.html" as macros %}

{% block title %}{{ name }} disambiguation - Repology{% endblock %}
{% block header %}Disambiguation page for <strong>{{ name }}</strong>{% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-warning" role="alert">No data found for project <strong>{{ name }}</strong></div>

<p>However, other projects are known which may be related to what
you're looking for (this may have happened because the project was
renamed in Repology, possibly to merge different package names of
a same project, or to split unrelated entities with similar names):</p>

{{ projects_table.projects_table(metapackages, metapackagedata) }}

{% include "versionclass_legend.html" %}

</div>
{% endblock %}
