{% extends "layout.html" %}

{% block keywords %}{{ super() }}, {{ name }}{% endblock %}

{% block preheader %}
{% if metapackage is defined and metapackage.num_repos > 0 %}
<div class="btn-group pageheader-right">
	<a href="{{ url_for("project_versions", name=name) }}" class="btn btn-default{% if request.endpoint == "project_versions" %} active{% endif %}">Versions</a>
	<a href="{{ url_for("project_packages", name=name) }}" class="btn btn-default{% if request.endpoint == "project_packages" %} active{% endif %}">Packages</a>
	<a href="{{ url_for("project_information", name=name) }}" class="btn btn-default{% if request.endpoint == "project_information" %} active{% endif %}">Information</a>
	<a href="{{ url_for("project_history", name=name) }}" class="btn btn-default{% if request.endpoint == "project_history" %} active{% endif %}">History</a>
	{% if metapackage.has_related %}
	<a href="{{ url_for("project_related", name=name) }}" class="btn btn-default{% if request.endpoint == "project_related" %} active{% endif %}">Related</a>
	{% endif %}
	<a href="{{ url_for("project_badges", name=name) }}" class="btn btn-default{% if request.endpoint == "project_badges" %} active{% endif %}">Badges</a>
	<a href="{{ url_for("project_report", name=name) }}" class="btn btn-default{% if request.endpoint == "project_report" %} active{% endif %}"><span class="text-danger">Report</span></a>
</div>
{% endif %}
{% endblock %}
