{% extends "project.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ name }} packages dissection - Repology{% endblock %}
{% block header %}Information for <strong>{{ name }}</strong>{% endblock %}
{% block description %}Aggregated information from all packages for project {{ name }}{% endblock %}

{% block content %}
<div class="container">

<div class="row">
	<div class="col-md-4">
		<section id="Package_names">
			<h2>Package names</h2>
			<ul>
			{% for name,families in information.names|dictsort(case_sensitive=True) %}
				<li>{{ name }}{% if families|length > 1 %} <b>({{ families|length }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>

		<section id="Versions">
			<h2>Versions</h2>
			<ul class="list-sparse">
			{% for versioninfo in versions %}
				<li><span class="version version-big version-{{ versioninfo.versionclass|css_for_versionclass }}">{{ versioninfo.version }}</span>{% if versioninfo.numfamilies > 1 %} <b>({{ versioninfo.numfamilies }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>

		<section id="Repositories">
			<h2>Repositories</h2>
			<ul>
			{% for reponame,families in information.repos %}
				<li><a href="{{ url_for('repository', repo=reponame) }}">{{ repometadata[reponame].desc }}</a></li>
			{% endfor %}
			</ul>
		</section>

		{% if information.categories %}
		<section id="Categories">
			<h2>Categories</h2>
			<ul>
			{% for category,families in information.categories|dictsort(case_sensitive=True) %}
				<li>{{ category }}{% if families|length > 1 %} <b>({{ families|length }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if information.licenses %}
		<section id="Licenses">
			<h2>Licenses</h2>
			<ul>
			{% for license,families in information.licenses|dictsort(case_sensitive=True) %}
				<li>{{ license }}{% if families|length > 1 %} <b>({{ families|length }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}
	</div>
	<div class="col-md-8">

		{% if information.summaries %}
		<section id="Summaries">
			<h2>Summaries</h2>
			<ul>
			{% for summary,families in information.summaries|dictsort(case_sensitive=True) %}
				<li>{{ summary }}{% if families|length > 1 %} <b>({{ families|length }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if information.maintainers %}
		<section id="Maintainers">
			<h2>Maintainers</h2>
			<ul>
			{% for maintainer,families in information.maintainers|dictsort(case_sensitive=True) %}
				<li><a href="{{ url_for('maintainer', maintainer=maintainer) }}">{{ maintainer }}</a>{% if families|length > 1 %} <b>({{ families|length }})</b>{% endif %}</li>
			{% endfor %}
			</ul>

			{% if information.maintainers|maintainers_to_group_mailto %}
			<ul>
				<li><a href="{{ information.maintainers|maintainers_to_group_mailto('%5B' + name + '%20package%5D') }}">Group email</a></li>
			</ul>
			{% endif %}
		</section>
		{% endif %}

		{% if information.homepages %}
		<section id="Homepages">
			<h2>Homepages</h2>
			<ul>
			{% for homepage,families in information.homepages|dictsort(case_sensitive=True) %}
				<li><a href="{{ homepage }}">{{ homepage }}</a>{{ macros.link_status(homepage, link_statuses) }}{% if families|length > 1 %} <b>({{ families|length }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if information.downloads %}
		<section id="Downloads">
			<h2>Downloads</h2>
			<ul>
			{% for download,families in information.downloads|dictsort(case_sensitive=True) %}
				<li class="break-word"><a href="{{ download }}">{{ download }}</a>{{ macros.link_status(download, link_statuses) }}{% if families|length > 1 %} <b>({{ families|length }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}
	</div>
</div>

</div> {#- container #}
{% endblock %}
