{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block extrameta %}
	<meta http-equiv="robots" content="noindex">
{% endblock %}

{% block title %}Repology: gone repository {{ repometadata[repo].desc }}{% endblock %}
{% block header %}Gone repository <strong>{{ repometadata[repo].desc }}</strong>{% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-warning" role="alert">
	<p>Sorry, but Repology no longer tracks repository <strong>{{ repometadata[repo].desc }}</strong>.</p>
	<p>Last time Repology has processed this repository was {{ macros.format_absolute_time(repo_info.last_seen) }}{{ macros.timezone_abbr() }} ({{ macros.format_time_interval(repo_info.last_seen_ago) }} ago).</p>
	<p>Some of the reasons which may have caused this:</p>
	<ul>
		<li>The repository has reached it's end of life, is no longer updated or supported, should no longer be used, and has probably disappeared from the mirrors. There may be a newer version of this repository available though, check <a href="{{ url_for('repository_statistics') }}">the list</a>.</li>
		<li>Repository has stopped publishing information about it's packages in format usable to Repology, so it's can't be processed any more. You may try contacting repository owners and ask them to fix this.</li>
	</ul>
</div>

</div>
{% endblock %}
