{% extends "repositories.html" %}
{% import "macros.html" as macros %}
{% import "macros/autorefresh.html" as _autorefresh with context %}

{% block extrameta %}
{{ _autorefresh.meta(10) }}
{% endblock %}

{% block title %}Update status - Repology{% endblock %}
{% block header %}Update status{% endblock %}

{% macro update_run_info(run_id, ago, errors, warnings) -%}
{%- if run_id -%}
	<b><a href="{{ url_for('log', run_id=run_id) }}" rel="nofollow">{{ macros.format_time_interval_short(ago) }}</a> ago</b>
	{%- if errors %}, <span class="text-danger">{{ errors }} err</span>{% endif -%}
	{%- if warnings %}, <span class="text-warning">{{ warnings }} warn</span>{% endif -%}
{%- else -%}
	-
{%- endif -%}
{%- endmacro %}

{% block content %}
<div class="container">

<p>A brief explanation of update process: each repository is updated in two phases: <em>fetch</em>, which only involves downloading new data, then <em>parse</em>, which involves converting upstream format into Repology packages and applying transformation rules. Each phase may fail independently. Also, fetch phase may return no new data (e.g. HTTP 403 not modified, no new git commits etc.), in which case parse phase may be skipped as long as the ruleset hasn't changed either. Note that actual database update happens only after trying to fetch and parse all the repositories, so there's additional delay between times shown on this page and actual website update.</p>

{{ _autorefresh.toggler() }}

<table class="table table-striped">
	<thead>
		<tr>
			<th class="text-right">Repository</th>
			<th class="text-center">Last fetch</th>
			<th class="text-center">Last parse</th>
			<th class="text-center">Last failure</th>
			<th class="text-center">History (oldest→latest)</th>
		</tr>
	</thead>
	<tbody>
	{% for repo in repos %}
		<tr id="{{ repo.name }}">
			<td class="text-right"><a href="{{ url_for('repository', repo=repo.name) }}">{{ repometadata[repo.name].desc }}</a></td>
			<td class="text-center
					{%- if repo.last_fetch_status == 'failed' %} danger
					{%- elif repo.last_fetch_status == 'running' %} info
					{%- endif -%}">{{
				update_run_info(
					repo.last_fetch_id,
					repo.last_fetch_ago,
					repo.last_fetch_errors,
					repo.last_fetch_warnings
				) }}</td>
			<td class="text-center
					{%- if repo.last_parse_status == 'failed' %} danger
					{%- elif repo.last_parse_status == 'running' %} info
					{%- endif %}">{{
				update_run_info(
					repo.last_parse_id,
					repo.last_parse_ago,
					repo.last_parse_errors,
					repo.last_parse_warnings
				) }}</td>
			<td class="text-center{% if repo.last_failed_id %} warning{% endif %}">{{
				update_run_info(
					repo.last_failed_id,
					repo.last_failed_ago,
					repo.last_failed_errors,
					repo.last_failed_warnings
				) }}</td>
			<td class="text-center">
			{%- if repo.history -%}
			{%- for histitem in repo.history -%}

			{%- if histitem.status == 'running' -%}
				<a href="{{ url_for('log', run_id=histitem.id) }}" rel="nofollow" class="update-running">▶</a>
			{%- elif histitem.status == 'interrupted' -%}
				<a href="{{ url_for('log', run_id=histitem.id) }}" rel="nofollow" class="update-interrupted">◼</a>
			{%- elif histitem.type == 'fetch' and histitem.status == 'successful' and histitem.no_changes -%}
				<a href="{{ url_for('log', run_id=histitem.id) }}" rel="nofollow" class="update-successful">⬂</a>
			{%- elif histitem.type == 'fetch' and histitem.status == 'successful' -%}
				<a href="{{ url_for('log', run_id=histitem.id) }}" rel="nofollow" class="update-successful">⬊</a>
			{%- elif histitem.type == 'fetch' and histitem.status == 'failed' -%}
				<a href="{{ url_for('log', run_id=histitem.id) }}" rel="nofollow" class="update-failed">⬂</a>
			{%- elif histitem.type == 'parse' and histitem.status == 'successful' -%}
				<a href="{{ url_for('log', run_id=histitem.id) }}" rel="nofollow" class="update-successful">⬈</a>
			{%- elif histitem.type == 'parse' and histitem.status == 'failed' -%}
				<a href="{{ url_for('log', run_id=histitem.id) }}" rel="nofollow" class="update-failed">⬀</a>
			{%- else -%}
				<a href="{{ url_for('log', run_id=histitem.id) }}" rel="nofollow">?</a>
			{%- endif -%}

			{%- endfor -%}
			{%- else -%}
				-
			{%- endif -%}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

</div> {#- container #}
{% endblock %}
