{% extends "layout.html" %}
{% import "macros/autorefresh.html" as _autorefresh with context %}

{% block extrameta %}
{{ _autorefresh.meta(3600 + randrange(60)) }}
{% endblock %}

{% block title %}{{ repometadata[repo].desc }} repository information - Repology{% endblock %}
{% block header %}Repository <strong>{{ repometadata[repo].desc }}</strong>{% endblock %}
{% block description %}Information on repository {{ repometadata[repo].desc }}{% endblock %}
{% block keywords %}{{ super()}}, repository{% endblock %}

{% block content %}
<div class="container">

{{ _autorefresh.toggler() }}

{% if repometadata[repo].repolinks %}
<h2>Links</h2>
<ul>
{% for link in repometadata[repo].repolinks %}
	<li><a href="{{ link.url }}">{{ link.desc }}</a></li>
{% endfor %}
</ul>
{% endif %}

{# note that we have to deal with undefined repo_info here! #}

<h2>Packages</h2>
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3>Total</h3></div>
			<div class="panel-body">
				{{ repo_info.num_packages|default(0) }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading"><h3>Newest</h3></div>
			<div class="panel-body">
				{{ repo_info.num_packages_newest|default(0) }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-danger">
			<div class="panel-heading"><h3>Outdated</h3></div>
			<div class="panel-body">
				{{ repo_info.num_packages_outdated|default(0) }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Ignored</h3></div>
			<div class="panel-body">
				{{ repo_info.num_packages_ignored|default(0) }}
			</div>
		</div>
	</div>
</div>

<h2>Projects</h2>
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3>Total</h3></div>
			<div class="panel-body">
				<a href="{{ url_for('projects', inrepo=repo) }}">
					{{ repo_info.num_metapackages|default(0) }}
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading"><h3>Newest</h3></div>
			<div class="panel-body">
				<a href="{{ url_for('projects', inrepo=repo, newest=1) }}">
					{{ repo_info.num_metapackages_newest|default(0) }}
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-danger">
			<div class="panel-heading"><h3>Outdated</h3></div>
			<div class="panel-body">
				<a href="{{ url_for('projects', inrepo=repo, outdated=1) }}">
					{{ repo_info.num_metapackages_outdated|default(0) }}
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading"><h3>Unique</h3></div>
			<div class="panel-body">
				<a href="{{ url_for('projects', inrepo=repo, families=1) }}">
					{{ repo_info.num_metapackages_unique|default(0) }}
				</a>
			</div>
		</div>
	</div>
</div>

<h2>Package lists</h2>

<p>Package filtering in Repology is very flexible, so you can combine all kinds of conditions. But here are some preset queries to start with:</p>

<ul>
	<li><a href="{{ url_for('projects', inrepo=repo) }}">All packages</a> present in this repository.</li>
	<li>Packages which are <a href="{{ url_for('projects', inrepo=repo, newest=1) }}">up to date</a> in this repository.</li>
	<li>Packages which are <a href="{{ url_for('projects', inrepo=repo, outdated=1) }}">outdated</a> in this repository.</li>
	<li>Packages which are <a href="{{ url_for('projects', inrepo=repo, outdated=1, families_newest='2-') }}">outdated</a> in this repository, but newest in 2+ families. Compared to the previous query this has smaller possibility of false positives.</li>
</ul>
<ul>
	<li>Packages which <a href="{{ url_for('projects', inrepo=repo, problematic=1) }}">have ignored versions</a> in this repository. There may be incorrect versions which needs fixing among these.</li>
	<li>Packages which are up to date <a href="{{ url_for('projects', inrepo=repo, newest=1, families_newest=1) }}">only in this repository family</a>. There may be incorrect versions which needs fixing among these.</li>
	<li>Packages which <a href="{{ url_for('projects', inrepo=repo, has_related=1) }}">have related ones</a> (with the same homepage). There may be projects which require merging these.</li>
</ul>
<ul>
	<li>Unique projects present <a href="{{ url_for('projects', inrepo=repo, families=1) }}">only in this repository family</a>.</li>
	<li>Unique projects present <a href="{{ url_for('projects', inrepo=repo, repos=1) }}">only in this repository</a>.</li>
</ul>
<ul>
	<li>Project in other repositories <a href="{{ url_for('projects', notinrepo=repo) }}">not present in this one</a>.</li>
	<li>Popular projects <a href="{{ url_for('projects', notinrepo=repo, families='5-') }}">present in 5+ repository families</a>, but absent in this one - likely good candidates for inclusion.</li>
</ul>

<h2>Maintainers</h2>

<p>There are {{ repo_info.num_maintainers|default('no known') }} maintainer(s) for this repository</p>

{% if repo_info.num_problems %}
<h2>Problems</h2>

<p>There are <a href="{{ url_for('repository_problems', repo=repo) }}">{{ repo_info.num_problems }} known problems</a> for packages in this repository</p>
{% endif %}

<h2>Graphs</h2>
<h3>Total projects</h3>
<img src="{{ url_for('graph_repo_projects_total', repo=repo) }}" alt="Total projects graph">

<h3>Newest projects</h3>
<img src="{{ url_for('graph_repo_projects_newest', repo=repo) }}" alt="Newest projects graph">

<h3>Newest projects percentage</h3>
<img src="{{ url_for('graph_repo_projects_newest_percent', repo=repo) }}" alt="Newest projects percentage graph">

<h3>Outdated projects</h3>
<img src="{{ url_for('graph_repo_projects_outdated', repo=repo) }}" alt="Outdated projects graph">

<h3>Outdated projects percentage</h3>
<img src="{{ url_for('graph_repo_projects_outdated_percent', repo=repo) }}" alt="Outdated projects percentage graph">

<h3>Unique projects</h3>
<img src="{{ url_for('graph_repo_projects_unique', repo=repo) }}" alt="Unique projects graph">

<h3>Unique projects percentage</h3>
<img src="{{ url_for('graph_repo_projects_unique_percent', repo=repo) }}" alt="Unique projects percentage graph">

<h3>Problematic projects</h3>
<img src="{{ url_for('graph_repo_projects_problematic', repo=repo) }}" alt="Problematic projects graph">

<h3>Problematic projects percentage</h3>
<img src="{{ url_for('graph_repo_projects_problematic_percent', repo=repo) }}" alt="Problematic projects percentage graph">

<h3>Maintainers</h3>
<img src="{{ url_for('graph_repo_maintainers', repo=repo) }}" alt="Maintainers graph">

<h3>Problems</h3>
<img src="{{ url_for('graph_repo_problems', repo=repo) }}" alt="Problems graph">

</div>
{% endblock %}
