{% extends "layout.html" %}

{% block preheader %}
<div class="btn-group pageheader-right">
	<a href="{{ url_for("repositories_statistics") }}" class="btn btn-default{% if request.endpoint == "repositories_statistics" %} active{% endif %}">Statistics</a>
	<a href="{{ url_for("repositories_packages") }}" class="btn btn-default{% if request.endpoint == "repositories_packages" %} active{% endif %}">Packages</a>
	<a href="{{ url_for("repositories_graphs") }}" class="btn btn-default{% if request.endpoint == "repositories_graphs" %} active{% endif %}">Graphs</a>
	<a href="{{ url_for("repositories_updates") }}" class="btn btn-default{% if request.endpoint == "repositories_updates" %} active{% endif %}">Updates</a>
</div>
{% endblock %}
