{% extends "repositories.html" %}

{% block extrameta %}
	<meta http-equiv="refresh" content="{{ 3600 + randrange(60) }}">
{% endblock %}

{% block title %}Graphs - Repology{% endblock %}
{% block header %}Graphs{% endblock %}

{% block content %}
<div class="container">

<h3 id="freshness_map">Repository size/freshness map</h3>
<img src="{{ url_for('graph_map_repo_size_fresh') }}" alt="Repository size/freshness map">

<h3 id="metapackages_graph">Metapackages</h3>
<img src="{{ url_for('graph_total_metapackages') }}" alt="Metapackages graph">

<h3 id="maintainers_graph">Maintainers</h3>
<img src="{{ url_for('graph_total_maintainers') }}" alt="Maintainers graph">

</div> {#- container #}
{% endblock %}
