{% extends "repositories.html" %}
{% import "macros/autorefresh.html" as _autorefresh with context %}

{% block extrameta %}
{{ _autorefresh.meta(3600 + randrange(60)) }}
{% endblock %}

{% block title %}Raw repository package counts - Repology{% endblock %}
{% block header %}Raw repository package counts{% endblock %}

{% block content %}
<div class="container">

<div class="clearfix">
	<p>Total individual packages known to repology: <b>{{ counts.num_packages }}</b>.</p>

	{{ _autorefresh.toggler() }}
</div>

{% include "versionclass_legend.html" %}

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-right" rowspan="2">Repository</th>
			<th class="text-center" colspan="11">Packages</th>
		</tr>
		<tr>
			<th class="text-center">Total</th>
			<th class="text-center"><abbr title="Newest">New.</abbr></th>
			<th class="text-center"><abbr title="Devel">Dev.</abbr></th>
			<th class="text-center"><abbr title="Unique">Unq.</abbr></th>
			<th class="text-center"><abbr title="Outdated">Out.</abbr></th>
			<th class="text-center"><abbr title="Legacy">Leg.</abbr></th>

			<th class="text-center"><abbr title="Rolling">Rol.</abbr></th>
			<th class="text-center"><abbr title="No upstream version scheme">Nov.</abbr></th>
			<th class="text-center"><abbr title="Incorrect">Inc.</abbr></th>
			<th class="text-center"><abbr title="Untrusted">Unt.</abbr></th>
			<th class="text-center"><abbr title="Ignored">Ign.</abbr></th>
		</tr>
	</thead>
	<tbody>
	{% for repostat in repostats %}
		<tr id="{{ repostat.name }}">
			<th class="text-right">
				<a href="{{ url_for('repository', repo=repostat.name) }}">{{ repometadata[repostat.name].desc }}</a>
			</th>

			<td class="text-center">{{ repostat.num_packages }}</td>

			<td class="text-center version-cell version-big version-newest">{{ repostat.num_packages_newest }}</td>
			<td class="text-center version-cell version-big version-devel">{{ repostat.num_packages_devel }}</td>
			<td class="text-center version-cell version-big version-unique">{{ repostat.num_packages_unique }}</td>
			<td class="text-center version-cell version-big version-outdated">{{ repostat.num_packages_outdated }}</td>
			<td class="text-center version-cell version-big version-legacy">{{ repostat.num_packages_legacy }}</td>

			<td class="text-center version-cell version-big version-rolling">{{ repostat.num_packages_rolling }}</td>
			<td class="text-center version-cell version-big version-noscheme">{{ repostat.num_packages_noscheme }}</td>
			<td class="text-center version-cell version-big version-incorrect">{{ repostat.num_packages_incorrect }}</td>
			<td class="text-center version-cell version-big version-untrusted">{{ repostat.num_packages_untrusted }}</td>
			<td class="text-center version-cell version-big version-ignored">{{ repostat.num_packages_ignored }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div> {#- container #}
{% endblock %}
