<ul>
	<li><b>Linux repositories:</b> Alpine, ALT, Antergos, AntiX, AOSC, Arch and AUR, Calculate, CentOS, CRUX, Debian, Deepin, Devuan, EPEL, Fedora, Funtoo, Gentoo, Guix, GoboLinux, KaOS, LEDE, Linuxbrew, Mageia, Manjaro, Mint, MX Linux, Nix, OpenMandriva, OpenSUSE, OpenWrt, Parabola, Parrot, PCLinuxOS, Rosa, Sabayon, SlackBuilds, SparkyLinux, Ubuntu</li>
	<li><b>*BSD repositories:</b> DragonFly DPorts, FreeBSD ports, OpenBSD packages, pkgsrc, Ravenports</li>
	<li><b>Third party repositories:</b> GetDeb/Playdeb, KDE neon, some Gentoo overlays, UnitedRPMs, RPM Fusion</li>
	<li><b>Other *nix repositories:</b> Homebrew, OpenIndiana, MacPorts</li>
	<li><b>And non-*nix repositories:</b> Chocolatey, F-Droid, HaikuPorts, MSYS2, Vcpkg, YACP</li>
	<li><b>Upstream module collections:</b> CPAN, CRAN, Hackage, PyPi, RubyGems</li>
	<li><b>F/OSS news sites:</b> DistroWatch, freshcode.club, libregamewiki</li>
</ul>
