{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ super() }}: turnover{% endblock %}
{% block header %}Turnover{% endblock %}

{% block content %}
<div class="container">

<div class="row">
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2">Metapackages recently added</th>
				</tr>
			</thead>
			<tbody>
			{% for package in added %}
				<tr>
					<td>{{ macros.format_time_interval(package.ago) }} ago</td>
					<td>
						<a href="{{ url_for("metapackage_versions", name=package.effname) }}">{{ package.effname }}</a>
					{%- if package.has_related -%}
						<a href="{{ url_for("metapackage_related", name=package.effname) }}">∗</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2">Metapackages recently removed</th>
				</tr>
			</thead>
			<tbody>
			{% for package in removed %}
				<tr>
					<td>{{ macros.format_time_interval(package.ago) }} ago</td>
					<td>{{ package.effname }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div> {#- row #}

</div> {#- container #}
{% endblock %}
